In [93]:
import pandas as pd
import pickle
import xlrd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce

ModuleNotFoundError: No module named 'xlsxwriter'

PWS_SIZE - Indicates Public Water Systems by size of population served. 
Size	Description
Very Small	500 or less
Small	501 - 3,300
Medium	3,301 - 10,000
Large	10,001 - 100,000
Very Large	>100,000

SERIOUS_VIOLATOR - 'Yes' indicates a public water system with unresolved serious, multiple, and/or continuing violations that is designated as a priority candidate for formal enforcement, as directed by EPA's Drinking Water Enforcement Response Policy (PDF) (16 pp, 952 K). EPA designates systems as serious violators so that the drinking water system and primacy agency will act quickly to resolve the most significant noncompliance. Many public water systems with violations, however, are not serious violators. Operators and the primacy agencies are expected to correct the violations at non-serious violators as well, but without the more strict requirements and deadlines applicable to serious violators. If the violations at a non-serious violator are left uncorrected, that system may become a serious violator. When a serious violator has received formal enforcement action or has returned to compliance, it is no longer designated a serious violator. EPA updates its serious violator list on a quarterly basis.

In [2]:
serious_violators = pd.read_csv('../data/SDWA_SERIOUS_VIOLATORS.csv')
serious_violators.head(30)

,PWSID,PWS_NAME,CITY_SERVED,STATE,STATE_NAME,PWS_TYPE_CODE,PWS_TYPE_SHORT,SOURCE_WATER,PWS_SIZE,POPULATION_SERVED_COUNT,FISCAL_YEAR,SERIOUS_VIOLATOR
0,FL4501229,"RIVIERA BEACH UTILITY DISTRICT, CITY OF",RIVIERA BEACH,FL,Florida,CWS,Community,GW,Large,31500,2015,Y
1,AK2299032,OMNI PARKS STORE,GLENNALLEN,AK,Alaska,TNCWS,Non-Community,GW,Very Small,222,2011,Y
2,NJ1708300,E I DUPONT CHAMBER WORKS,PENNSVILLE TWP.-1708,NJ,New Jersey,NTNCWS,Non-Community,SW,Small,920,2013,Y
3,NJ1708300,E I DUPONT CHAMBER WORKS,PENNSVILLE TWP.-1708,NJ,New Jersey,NTNCWS,Non-Community,SW,Small,920,2012,Y
4,ID1280084,HAUSER LAKE WATER ASSN INC,NaN,ID,Idaho,CWS,Community,GW,Small,1200,2011,Y
5,ID6030036,MARSH VALLEY JR AND SR HIGH SCHOOL,NaN,ID,Idaho,NTNCWS,Non-Community,GW,Small,624,2014,Y
6,VT0005626,VALLEY PARK CONDOMINIUM,KILLINGTON,VT,Vermont,CWS,Community,GW,Very Small,42,2014,Y
7,VT0005626,VALLEY PARK CONDOMINIUM,KILLINGTON,VT,Vermont,CWS,Community,GW,Very Small,42,2013,Y
8,VT0005384,WHIFFLETREE CONDOMINIUM,KILLINGTON,VT,Vermont,CWS,Community,GW,Very Small,189,2014,Y
9,OK2001036,MARY JACKSON TP,NaN,OK,Oklahoma,CWS,Community,GW,Very Small,50,2014,Y
10,OK2001036,MARY JACKSON TP,NaN,OK,Oklahoma,CWS,Community,GW,Very Small,50,2013,Y
11,OK2001036,MARY JACKSON TP,NaN,OK,Oklahoma,CWS,Community,GW,Very Small,50,2012,Y
12,OH2550712,ROYAL KINGDOM MINISTRIES PWS,NaN,OH,Ohio,TNCWS,Non-Community,GW,Very Small,40,2011,Y
13,OK2001475,PECAN TREE ESTATES ADDN,NaN,OK,Oklahoma,CWS,Community,GW,Very Small,100,2015,Y
14,WI7340147,OAK RIDGE CAMPGROUND,ELCHO,WI,Wisconsin,TNCWS,Non-Community,GW,Very Small,25,2015,Y
15,KY0360272,MARTIN WATER DEPARTMENT,NaN,KY,Kentucky,CWS,Community,SW,Small,1167,2013,Y
16,KY0360272,MARTIN WATER DEPARTMENT,NaN,KY,Kentucky,CWS,Community,SW,Small,1167,2012,Y
17,KY0360272,MARTIN WATER DEPARTMENT,NaN,KY,Kentucky,CWS,Community,SW,Small,1167,2011,Y
18,MO4212819,OZARK FREEZE RESTAURANT,MINERAL POINT,MO,Missouri,TNCWS,Non-Community,GW,Very Small,35,2013,Y
19,MO4212819,OZARK FREEZE RESTAURANT,MINERAL POINT,MO,Missouri,TNCWS,Non-Community,GW,Very Small,35,2012,Y
20,MO4212819,OZARK FREEZE RESTAURANT,MINERAL POINT,MO,Missouri,TNCWS,Non-Community,GW,Very Small,35,2011,Y
21,MS0210003,TOWN OF MCLAIN,NaN,MS,Mississippi,CWS,Community,GW,Very Small,436,2012,Y
22,MS0210003,TOWN OF MCLAIN,NaN,MS,Mississippi,CWS,Community,GW,Very Small,436,2011,Y
23,MS0210005,TOWN OF STATE LINE,NaN,MS,Mississippi,CWS,Community,GW,Small,1290,2013,Y
24,MS0210005,TOWN OF STATE LINE,NaN,MS,Mississippi,CWS,Community,GW,Small,1290,2012,Y
25,MS0210005,TOWN OF STATE LINE,NaN,MS,Mississippi,CWS,Community,GW,Small,1290,2011,Y
26,OK2001431,NOBLE ESTATES MHP,NaN,OK,Oklahoma,CWS,Community,GW,Very Small,75,2014,Y
27,OK2001431,NOBLE ESTATES MHP,NaN,OK,Oklahoma,CWS,Community,GW,Very Small,75,2013,Y
28,AZ0407555,ASPC LEWIS COMPLEX WATER SYSTEM,BUCKEYE,AZ,Arizona,CWS,Community,GW,Medium,4300,2014,Y
29,WI6561105,COUNTY MATERIALS - READY MIX SHOP,ROBERTS,WI,Wisconsin,NTNCWS,Non-Community,GW,Very Small,50,2015,Y

In [3]:
serious_violators.shape

(48908, 12)

In [4]:
serious_violators.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48908 entries, 0 to 48907
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PWSID                    48908 non-null  object
 1   PWS_NAME                 48908 non-null  object
 2   CITY_SERVED              22217 non-null  object
 3   STATE                    48908 non-null  object
 4   STATE_NAME               48902 non-null  object
 5   PWS_TYPE_CODE            48908 non-null  object
 6   PWS_TYPE_SHORT           48908 non-null  object
 7   SOURCE_WATER             48908 non-null  object
 8   PWS_SIZE                 48908 non-null  object
 9   POPULATION_SERVED_COUNT  48908 non-null  int64
 10  FISCAL_YEAR              48908 non-null  int64
 11  SERIOUS_VIOLATOR         48908 non-null  object
dtypes: int64(2), object(10)
memory usage: 4.5+ MB

In [5]:
serious_violators.describe()

       POPULATION_SERVED_COUNT   FISCAL_YEAR
count             4.890800e+04  48908.000000
mean              2.207711e+03   2014.870042
std               2.654236e+04      2.878089
min               0.000000e+00   2011.000000
25%               5.000000e+01   2012.000000
50%               1.320000e+02   2015.000000
75%               5.000000e+02   2017.000000
max               1.661445e+06   2020.000000

For visual EDA do bar chart of year (x-axis) and counts (y-axis) 
https://echo.epa.gov/help/drinking-water-dashboard-help

VIOLATION_NAME - Violations required to be reported under SDWA are grouped into the following categories:
Health-based violations - Violations of maximum contaminant levels (MCLs) or maximum residual disinfectant levels (MRDLs), which specify the highest concentrations of contaminants or disinfectants, respectively, allowed in drinking water; or of treatment technique (TT) rules, which specify required processes intended to reduce the amounts of contaminants in drinking water. MCLs, MRDLs, and treatment technique rules are all health-based drinking water standards.
Monitoring and reporting (MR) violations - Failure to conduct regular monitoring of drinking water quality, as required by SDWA, or to submit monitoring results in a timely fashion to the state environmental agency or EPA.
Other violations - Violations of other requirements of SDWA, such as failing to issue annual consumer confidence reports, or conducting periodic sanitary surveys.

In [6]:
violations = pd.read_csv('../data/SDWA_VIOLATIONS.csv')

/opt/anaconda3/envs/geo/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
violations.head()

,PWSID,PWS_NAME,CITY_SERVED,STATE,STATE_NAME,PWS_TYPE_CODE,PWS_TYPE_SHORT,SOURCE_WATER,PWS_SIZE,POPULATION_SERVED_COUNT,...,VIOLATION_NAME,VIOLATION_ID,RULE_NAME,BEGIN_YEAR,END_YEAR,RTC_YEAR,ACUTE_HEALTH_BASED,HEALTH_BASED,MONITORING_REPORTING,PUBLIC_NOTIF_OTHER
0,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119615,St2 DBP,2017,2017.0,NaN,N,Y,N,N
1,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,Monitoring and Reporting (DBP),119611,St1 DBP,2017,2017.0,NaN,N,N,Y,N
2,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119606,St2 DBP,2017,2017.0,NaN,N,Y,N,N
3,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119599,St2 DBP,2016,2016.0,NaN,N,Y,N,N
4,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119597,St2 DBP,2017,2017.0,NaN,N,Y,N,N

In [8]:
violations.shape

(3142143, 21)

In [9]:
violations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142143 entries, 0 to 3142142
Data columns (total 21 columns):
 #   Column                   Dtype
---  ------                   -----
 0   PWSID                    object
 1   PWS_NAME                 object
 2   CITY_SERVED              object
 3   STATE                    object
 4   STATE_NAME               object
 5   PWS_TYPE_CODE            object
 6   PWS_TYPE_SHORT           object
 7   SOURCE_WATER             object
 8   PWS_SIZE                 object
 9   POPULATION_SERVED_COUNT  int64
 10  FISCAL_YEAR              int64
 11  VIOLATION_NAME           object
 12  VIOLATION_ID             object
 13  RULE_NAME                object
 14  BEGIN_YEAR               int64
 15  END_YEAR                 float64
 16  RTC_YEAR                 float64
 17  ACUTE_HEALTH_BASED       object
 18  HEALTH_BASED             object
 19  MONITORING_REPORTING     object
 20  PUBLIC_NOTIF_OTHER       object
dtypes: float64(2), int64(3), object(16)
memory usage: 503.4+ MB

In [10]:
#violations.describe()

In [11]:
#df.round({'dogs': 1, 'cats': 0})
#violations.round({'POPULATION_SERVED_COUNT':0, 'FISCAL_YEAR':0, 'BEGIN_YEAR':0, 'END_YEAR':0, 'RTC_YEAR':0})

# Map out violations
Find out how many nans there are in city field. See if can create function to map the nan cities using PWS_Name. Is it possible to grab lat & lon from PWS_Name?

In [12]:
count = violations["CITY_SERVED"].isna().sum()
print(count)

1734086

number of entries minus nan values. 
3,142,143-1,734,086=1,408,057
so 1,734,086 have nan values in city column (more than half) 
and 1,408,057 have values in city column

In [13]:
#df.loc[df['Col2'].isnull()] 
nullcity_violations =violations.loc[violations["CITY_SERVED"].isnull()]
nullcity_violations.head(50)

,PWSID,PWS_NAME,CITY_SERVED,STATE,STATE_NAME,PWS_TYPE_CODE,PWS_TYPE_SHORT,SOURCE_WATER,PWS_SIZE,POPULATION_SERVED_COUNT,...,VIOLATION_NAME,VIOLATION_ID,RULE_NAME,BEGIN_YEAR,END_YEAR,RTC_YEAR,ACUTE_HEALTH_BASED,HEALTH_BASED,MONITORING_REPORTING,PUBLIC_NOTIF_OTHER
0,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119615,St2 DBP,2017,2017.0,NaN,N,Y,N,N
1,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,Monitoring and Reporting (DBP),119611,St1 DBP,2017,2017.0,NaN,N,N,Y,N
2,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119606,St2 DBP,2017,2017.0,NaN,N,Y,N,N
3,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119599,St2 DBP,2016,2016.0,NaN,N,Y,N,N
4,OK1020515,CHECOTAH PWA,NaN,OK,Oklahoma,CWS,Community,SW,Medium,3481,...,"MCL, Average",119597,St2 DBP,2017,2017.0,NaN,N,Y,N,N
34,TX0840021,GALVESTON COUNTY MUD 12,NaN,TX,Texas,CWS,Community,SW,Medium,4542,...,Follow-up Or Routine LCR Tap M/R,518,LCR,2017,NaN,2017.0,N,N,Y,N
35,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,Water Quality Parameter M/R,990009968,LCR,2017,2017.0,NaN,N,N,Y,N
36,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009973,Arsenic,2017,2017.0,NaN,N,Y,N,N
37,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009971,Arsenic,2017,2017.0,NaN,N,Y,N,N
38,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009965,Arsenic,2017,2017.0,NaN,N,Y,N,N
39,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009961,Arsenic,2017,2017.0,NaN,N,Y,N,N
40,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009956,Arsenic,2017,2017.0,NaN,N,Y,N,N
41,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009953,Arsenic,2016,2016.0,NaN,N,Y,N,N
42,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009949,Arsenic,2016,2016.0,NaN,N,Y,N,N
43,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009947,Arsenic,2016,2016.0,NaN,N,Y,N,N
44,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009944,Arsenic,2016,2016.0,NaN,N,Y,N,N
45,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009939,Arsenic,2015,2015.0,NaN,N,Y,N,N
46,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009936,Arsenic,2015,2015.0,NaN,N,Y,N,N
47,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009933,Arsenic,2015,2015.0,NaN,N,Y,N,N
48,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009928,Arsenic,2015,2015.0,NaN,N,Y,N,N
49,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,CCR Inadequate Reporting,990009927,CCR,2014,NaN,2017.0,N,N,N,Y
50,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009925,Arsenic,2014,2014.0,NaN,N,Y,N,N
51,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009923,Arsenic,2014,2014.0,NaN,N,Y,N,N
52,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009920,Arsenic,2014,2014.0,NaN,N,Y,N,N
53,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009917,Arsenic,2014,2014.0,NaN,N,Y,N,N
54,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009908,Arsenic,2013,2013.0,NaN,N,Y,N,N
55,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009905,Arsenic,2013,2013.0,NaN,N,Y,N,N
56,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009903,Arsenic,2013,2013.0,NaN,N,Y,N,N
57,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"MCL, Average",990009899,Arsenic,2013,2013.0,NaN,N,Y,N,N
58,TX1240001,JIM HOGG COUNTY WCID 2,NaN,TX,Texas,CWS,Community,GW,Medium,5526,...,"Monitoring, Source Water (GWR)",990009874,GWR,2011,NaN,NaN,N,N,Y,N
61,WA5373600,SKAGIT CO PUD ROCKPORT,NaN,WA,Washington,CWS,Community,GW,Very Small,198,...,"Monitoring, Regular",1689819,Nitrates,2016,2017.0,2017.0,N,N,Y,N
62,WA5373600,SKAGIT CO PUD ROCKPORT,NaN,WA,Washington,CWS,Community,GW,Very Small,198,...,"Monitoring, Regular",1589818,Nitrates,2015,2016.0,2017.0,N,N,Y,N
64,WA5399110,YAKIMA GOLDING FARMS 1,NaN,WA,Washington,CWS,Community,GW,Very Small,85,...,"Monitoring, Regular",1675468,Nitrates,2017,2017.0,2017.0,N,N,Y,N
65,WA5399110,YAKIMA GOLDING FARMS 1,NaN,WA,Washington,CWS,Community,GW,Very Small,85,...,CCR Complete Failure to Report,1640161,CCR,2016,NaN,2017.0,N,N,N,Y
66,WA5399110,YAKIMA GOLDING FARMS 1,NaN,WA,Washington,CWS,Community,GW,Very Small,85,...,"Monitoring, Routine Major (TCR)",1386436,TCR,2013,2013.0,NaN,N,N,Y,N
67,093200359,Washoe Tribe Stewart,NaN,672,Washoe Tribe of Nevada,CWS,Community,GW,Very Small,160,...,Sample Siting Plan Errors (RTCR),32003595A800042016,RTCR,2016,NaN,NaN,N,N,N,Y
68,093200359,Washoe Tribe Stewart,NaN,672,Washoe Tribe of Nevada,CWS,Community,GW,Very Small,160,...,Failure Submit IDSE/Subpart V Plan Rpt,3200359350600102013,St2 DBP,2014,NaN,NaN,N,N,Y,N
69,WA5373620,ROCKY BAY WATER SYSTEM,NaN,WA,Washington,CWS,Community,GW,Very Small,36,...,CCR Complete Failure to Report,1640075,CCR,2016,NaN,2017.0,N,N,N,Y
70,WA5374385,Roses Cafe,NaN,WA,Washington,TNCWS,Non-Community,GW,Very Small,107,...,"Monitoring, Routine Major (TCR)",1308310,TCR,2014,2014.0,NaN,N,N,Y,N
71,WA5374385,Roses Cafe,NaN,WA,Washington,TNCWS,Non-Community,GW,Very Small,107,...,"Monitoring, Routine Major (TCR)",1423094,TCR,2014,2014.0,NaN,N,N,Y,N
72,TX1012740,HARRIS COUNTY MUD 230,NaN,TX,Texas,CWS,Community,GW,Medium,6498,...,Follow-up Or Routine LCR Tap M/R,4,LCR,2016,NaN,2017.0,N,N,Y,N
73,TX0030019,CENTRAL WCID OF ANGELINA COUNTY,NaN,TX,Texas,CWS,Community,GW,Medium,7319,...,Follow-up Or Routine LCR Tap M/R,100068899,LCR,2017,NaN,2017.0,N,N,Y,N
81,090605011,Mesa Grande (Tract 2),NaN,580,Mesa Grande Band of Diegueno Mission Indians o...,CWS,Community,GW,Very Small,40,...,Sample Siting Plan Errors (RTCR),06050115A800042016,RTCR,2016,NaN,NaN,N,N,N,Y
82,090605011,Mesa Grande (Tract 2),NaN,580,Mesa Grande Band of Diegueno Mission Indians o...,CWS,Community,GW,Very Small,40,...,"Monitoring, Regular",060501103104012016,Nitrates,2016,2017.0,2017.0,N,N,Y,N
83,090605011,Mesa Grande (Tract 2),NaN,580,Mesa Grande Band of Diegueno Mission Indians o...,CWS,Community,GW,Very Small,40,...,Failure Submit IDSE/Subpart V Plan Rpt,0605011350600102013,St2 DBP,2014,NaN,2017.0,N,N,Y,N
84,OK2002319,SELECT 9 SITE,NaN,OK,Oklahoma,NTNCWS,Non-Community,GW,Very Small,30,...,"Monitoring, Regular",39,VOC,2017,2017.0,NaN,N,N,Y,N
85,OK2002319,SELECT 9 SITE,NaN,OK,Oklahoma,NTNCWS,Non-Community,GW,Very Small,30,...,"Monitoring, Regular",54,VOC,2017,2017.0,NaN,N,N,Y,N
86,OK2002319,SELECT 9 SITE,NaN,OK,Oklahoma,NTNCWS,Non-Community,GW,Very Small,30,...,"Monitoring, Regular",36,VOC,2017,2017.0,NaN,N,N,Y,N
87,OK2002319,SELECT 9 SITE,NaN,OK,Oklahoma,NTNCWS,Non-Community,GW,Very Small,30,...,"Monitoring, Regular",53,VOC,2017,2017.0,NaN,N,N,Y,N
88,OK2002319,SELECT 9 SITE,NaN,OK,Oklahoma,NTNCWS,Non-Community,GW,Very Small,30,...,"Monitoring, Regular",41,VOC,2017,2017.0,NaN,N,N,Y,N

# Map out violations
PWSID gives county name - Is it possible to map off of the PWSID instead of city? County would be more accurate. Would have to webscrape each page linked to PWSID number and they all have different URLs. 

Make a funtion that itterates over ID and pulls out county from a webpage. ???

Can we maybe focus on one particular State? Do some EDA based on number of state violations. 
First pull in some more data to see if there are addresses anywhere. - No luck so far, see below.

In [14]:
sdwa_watersystems = pd.read_csv('../data/SDWA_PUB_WATER_SYSTEMS.csv')
sdwa_watersystems.head()

,PWSID,FISCAL_YEAR,STATE,STATE_NAME,EPA_REGION,PWS_TYPE_CODE,PWS_NAME,CITY_SERVED,STATE_CODE,SOURCE_WATER,IS_TRIBAL,SYSTEM_SIZE,POPULATION_SERVED_COUNT
0,AK2210574,2014,AK,Alaska,10,CWS,TOTEM TRAILER TOWN TC,ANCHORAGE,AK,GW,N,Very Small,480
1,AK2210574,2013,AK,Alaska,10,CWS,TOTEM TRAILER TOWN TC,ANCHORAGE,AK,GW,N,Very Small,480
2,AK2210574,2012,AK,Alaska,10,CWS,TOTEM TRAILER TOWN TC,ANCHORAGE,AK,GW,N,Very Small,480
3,AK2210574,2011,AK,Alaska,10,CWS,TOTEM TRAILER TOWN TC,ANCHORAGE,AK,GW,N,Very Small,480
4,OK2004301,2015,OK,Oklahoma,6,CWS,MARIETTA PWA,NaN,OK,GW,N,Small,2445

In [15]:
sdwa_sitevisits = pd.read_csv('../data/SDWA_SITE_VISITS.csv')
sdwa_sitevisits.head()

,PWSID,PWS_NAME,CITY_SERVED,STATE,STATE_NAME,PWS_TYPE_CODE,PWS_TYPE_SHORT,SOURCE_WATER,PWS_SIZE,POPULATION_SERVED_COUNT,FISCAL_YEAR,SITE_VISIT_DATE,SANITARY_SURVEY
0,AK2210574,TOTEM TRAILER TOWN TC,ANCHORAGE,AK,Alaska,CWS,Community,GW,Very Small,480,2012,05/18/2012,Y
1,OK2004301,MARIETTA PWA,NaN,OK,Oklahoma,CWS,Community,GW,Small,2445,2015,04/15/2015,Y
2,OK2004301,MARIETTA PWA,NaN,OK,Oklahoma,CWS,Community,GW,Small,2445,2015,09/08/2015,Y
3,FL1464061,EGLIN SITE C-3 (LASER),EGLIN AFB,FL,Florida,NTNCWS,Non-Community,GW,Very Small,25,2014,06/17/2014,Y
4,FL1464061,EGLIN SITE C-3 (LASER),EGLIN AFB,FL,Florida,NTNCWS,Non-Community,GW,Very Small,25,2013,08/01/2013,N

# Initial ideas:
Count of violations by State
Chart increase of violations over time (year over year) - see if it correlates with new legislation. 
Focus on a specific region or state - drill down from there. 

Possible datasets to pull in: median income, population, age demographics, weather average over time (year over year, month?), coronovirus data? 

Datasets to continue: waterbourne illnesses get same counts: count of waterbourne diseases by State, Chart increase of diseases over time (year over year). Focus on a specific region or state - drill down from there.

In [16]:
violations.STATE_NAME.value_counts()

Texas                                                                                       345999
Pennsylvania                                                                                311978
Mississippi                                                                                 230522
West Virginia                                                                               129322
Alaska                                                                                      116349
                                                                                             ...
Chickasaw Nation, Oklahoma                                                                       1
Robinson Rancheria of Pomo Indians of California                                                 1
Big Valley Band of Pomo Indians of the Big Valley Rancheria, California                          1
Augustine Band of Cahuilla Mission Indians of the Augustine Reservation, California              1
La Posta Band of Diegueno Mission Indians of the La Posta Indian Reservation, California         1
Name: STATE_NAME, Length: 285, dtype: int64

In [17]:
violation_counts = violations.STATE_NAME.value_counts()
violation_counts.head()

Texas            345999
Pennsylvania     311978
Mississippi      230522
West Virginia    129322
Alaska           116349
Name: STATE_NAME, dtype: int64

# Join serious violations with violations

In [18]:
#all_violations = pd.merge(serious_violators, violations, left_index = True, right_index = True, how = 'inner')
#all_violations.head()
#all_violations.shape

In [19]:
all_violations = pd.concat([serious_violators, violations])
all_violations.shape

(3191051, 22)

In [20]:
all_violations.columns

Index(['PWSID', 'PWS_NAME', 'CITY_SERVED', 'STATE', 'STATE_NAME',
       'PWS_TYPE_CODE', 'PWS_TYPE_SHORT', 'SOURCE_WATER', 'PWS_SIZE',
       'POPULATION_SERVED_COUNT', 'FISCAL_YEAR', 'SERIOUS_VIOLATOR',
       'VIOLATION_NAME', 'VIOLATION_ID', 'RULE_NAME', 'BEGIN_YEAR', 'END_YEAR',
       'RTC_YEAR', 'ACUTE_HEALTH_BASED', 'HEALTH_BASED',
       'MONITORING_REPORTING', 'PUBLIC_NOTIF_OTHER'],
      dtype='object')

In [21]:
all_violations.shape

(3191051, 22)

In [22]:
all_violations.head()

,PWSID,PWS_NAME,CITY_SERVED,STATE,STATE_NAME,PWS_TYPE_CODE,PWS_TYPE_SHORT,SOURCE_WATER,PWS_SIZE,POPULATION_SERVED_COUNT,...,VIOLATION_NAME,VIOLATION_ID,RULE_NAME,BEGIN_YEAR,END_YEAR,RTC_YEAR,ACUTE_HEALTH_BASED,HEALTH_BASED,MONITORING_REPORTING,PUBLIC_NOTIF_OTHER
0,FL4501229,"RIVIERA BEACH UTILITY DISTRICT, CITY OF",RIVIERA BEACH,FL,Florida,CWS,Community,GW,Large,31500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AK2299032,OMNI PARKS STORE,GLENNALLEN,AK,Alaska,TNCWS,Non-Community,GW,Very Small,222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NJ1708300,E I DUPONT CHAMBER WORKS,PENNSVILLE TWP.-1708,NJ,New Jersey,NTNCWS,Non-Community,SW,Small,920,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NJ1708300,E I DUPONT CHAMBER WORKS,PENNSVILLE TWP.-1708,NJ,New Jersey,NTNCWS,Non-Community,SW,Small,920,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ID1280084,HAUSER LAKE WATER ASSN INC,NaN,ID,Idaho,CWS,Community,GW,Small,1200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
all_violations.to_csv("../data/all_violations.csv", index=False)

In [149]:
all_violations.columns

Index(['PWSID', 'PWS_NAME', 'CITY_SERVED', 'STATE', 'STATE_NAME',
       'PWS_TYPE_CODE', 'PWS_TYPE_SHORT', 'SOURCE_WATER', 'PWS_SIZE',
       'POPULATION_SERVED_COUNT', 'FISCAL_YEAR', 'SERIOUS_VIOLATOR',
       'VIOLATION_NAME', 'VIOLATION_ID', 'RULE_NAME', 'BEGIN_YEAR', 'END_YEAR',
       'RTC_YEAR', 'ACUTE_HEALTH_BASED', 'HEALTH_BASED',
       'MONITORING_REPORTING', 'PUBLIC_NOTIF_OTHER'],
      dtype='object')

In [24]:
#type(violation_counts)

In [25]:
#violation_counts = violation_counts.reset_index()
#violation_counts

In [26]:
#violation_counts.columns = ['state_name', 'count']
#violation_counts.head(20)

In [27]:
#serious_violators.STATE_NAME.value_counts()
#serious_violators = serious_violators.STATE_NAME.value_counts()
#serious_violators.head()

In [28]:
#serious_violators = serious_violators.reset_index()
#serious_violators

In [29]:
#serious_violators.columns = ['state_name', 'count']
#serious_violators.head(20)

# Take a look at waterbourne disease data

In [30]:
#water_2018 = pd.read_csv("../data/2018-table2h.csv")
#water_2018.head()

In [121]:
#this data is from years 1998-2017
water_outbreaks = pd.read_excel("../data/NationalOutbreakPublicDataTool.xlsx")
water_outbreaks.tail()

,Year,Month,State,Primary Mode,Etiology,Serotype or Genotype,Etiology Status,Setting,Illnesses,Hospitalizations,...,Deaths,Info on Deaths,Food Vehicle,Food Contaminated Ingredient,IFSAC Category,Water Exposure,Water Type,Animal Type,Animal Type Specify,Water Status
738,2015,Dec,Florida,Water,Legionella pneumophila,serogroup 1,Confirmed,Hotel/Motel/Lodge/Inn,2,1.0,...,0.0,2.0,NaN,NaN,NaN,Recreational water -- treated,Spa/Whirlpool/Hot Tub,NaN,NaN,Cleaned
739,2015,Dec,Georgia,Water,Legionella pneumophila,NaN,Suspected,Hospital/Health Care,4,4.0,...,1.0,4.0,NaN,NaN,NaN,Drinking water,Community,NaN,NaN,Cleaned
740,2015,Dec,Georgia,Water,Legionella pneumophila,serogroup 1,Suspected,Factory/Industrial Facility,6,6.0,...,0.0,6.0,NaN,NaN,NaN,Drinking water,Community,NaN,NaN,Cleaned
741,2017,Dec,Wisconsin,Water,Chlorine Gas,NaN,Suspected,Recreational facility,2,1.0,...,0.0,2.0,NaN,NaN,NaN,Recreational water -- treated,Pool - Swimming Pool,NaN,NaN,Cleaned
742,2010,Jan,Vermont,Water,Cryptosporidium unknown,NaN,Confirmed,Vacation rental house,34,0.0,...,0.0,34.0,NaN,NaN,NaN,Drinking water,Individual/Private,NaN,NaN,Reviewed

In [122]:
water_outbreaks.shape

(743, 21)

In [123]:
#legionella_2017 = dr_utilization_2017[dr_utilization_2017['HCPCS Code'] == 86717]
#legionella = water_outbreaks[water_outbreaks['Etiology'] == 'Legionella']
#legionella.head()
legionella = water_outbreaks[water_outbreaks['Etiology'].str.contains('Legionella')]
legionella.shape
#df1 = df[df['Position'].str.contains("PG") & df['College'].str.contains('UC')] 
#df1

(290, 21)

In [124]:
legionella.head()

,Year,Month,State,Primary Mode,Etiology,Serotype or Genotype,Etiology Status,Setting,Illnesses,Hospitalizations,...,Deaths,Info on Deaths,Food Vehicle,Food Contaminated Ingredient,IFSAC Category,Water Exposure,Water Type,Animal Type,Animal Type Specify,Water Status
1,2011,Jan,Ohio,Water,Legionella pneumophila,serogroup 1,Confirmed,Hospital/Health Care,11,11.0,...,1.0,11.0,NaN,NaN,NaN,Drinking water,Community; Community; Community,NaN,NaN,Reviewed
4,2011,Jan,Washington,Water,Legionella pneumophila,serogroup 1,Confirmed,Hospital/Health Care,3,3.0,...,1.0,3.0,NaN,NaN,NaN,Drinking water,Community,NaN,NaN,Reviewed
5,2012,Jan,Pennsylvania,Water,Legionella pneumophila,serogroup 1,Confirmed,Hotel/Motel/Lodge/Inn,2,2.0,...,0.0,2.0,NaN,NaN,NaN,Recreational water -- treated,Spa/Whirlpool/Hot Tub,NaN,NaN,Reviewed
6,2012,Jan,New York,Water,Legionella pneumophila,serogroup 1,Confirmed,Hotel/Motel/Lodge/Inn,3,0.0,...,0.0,0.0,NaN,NaN,NaN,Drinking water,Community; Community,NaN,NaN,Reviewed
7,2010,Jan,Ohio,Water,Legionella pneumophila,serogroup 1,Confirmed,Hospital/Health Care,4,4.0,...,1.0,4.0,NaN,NaN,NaN,Undetermined water,Unknown,NaN,NaN,Reviewed

In [161]:
#df['DataFrame Column'] = df['DataFrame Column'].apply(str)
legionella['Month'] = legionella['Month'].apply(str)

/opt/anaconda3/envs/geo/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [125]:
legionella.to_csv("../data/legionella.csv", index=False)

# Call in cdc waterborne diseases weekly reports

In [289]:
col_df = pd.read_csv('../data/2016-table2h.txt', sep=r'\\t', engine='python', skiprows = 3, nrows = 9)
columns = [col for col in col_df['Reporting Area']]
print(columns)

['Human immunodeficiency virus diagnoses', 'Influenza-associated pediatric mortality', 'Invasive pneumococcal disease, All ages, Confirmed', 'Invasive pneumococcal disease, All ages, Probable', 'Invasive pneumococcal disease, Age <5 years, Confirmed', 'Invasive pneumococcal disease, Age <5 years, Probable', 'Legionellosis', 'Leptospirosis']

In [290]:
read_txt_file_2016 = pd.read_csv('../data/2016-table2h.txt', sep='\\\t', names=columns, engine='python', skiprows = 14).reset_index()
read_txt_file_2016.head()

,index,Human immunodeficiency virus diagnoses,Influenza-associated pediatric mortality,"Invasive pneumococcal disease, All ages, Confirmed","Invasive pneumococcal disease, All ages, Probable","Invasive pneumococcal disease, Age <5 years, Confirmed","Invasive pneumococcal disease, Age <5 years, Probable",Legionellosis,Leptospirosis
0,United States,"34,775",82,"17,603",23,"1,137",5,"6,141",78
1,New England,966,4,"1,106",�,58,�,310,4
2,Connecticut,201,�,239,�,13,�,78,N
3,Maine,43,1,133,�,8,�,16,�
4,Massachusetts,607,2,513,�,31,�,141,2

# Get rid of the � sign

In [291]:
read_txt_file_2016['Influenza-associated pediatric mortality'] = read_txt_file_2016['Influenza-associated pediatric mortality'].replace('�', np.nan)
read_txt_file_2016.head()

,index,Human immunodeficiency virus diagnoses,Influenza-associated pediatric mortality,"Invasive pneumococcal disease, All ages, Confirmed","Invasive pneumococcal disease, All ages, Probable","Invasive pneumococcal disease, Age <5 years, Confirmed","Invasive pneumococcal disease, Age <5 years, Probable",Legionellosis,Leptospirosis
0,United States,"34,775",82,"17,603",23,"1,137",5,"6,141",78
1,New England,966,4,"1,106",�,58,�,310,4
2,Connecticut,201,NaN,239,�,13,�,78,N
3,Maine,43,1,133,�,8,�,16,�
4,Massachusetts,607,2,513,�,31,�,141,2

In [39]:
#read_txt_file['Influenza-associated pediatric mortality'].value_counts()

In [292]:
read_txt_file_2016 = read_txt_file_2016.replace('�', np.nan)
read_txt_file_2016.head()

,index,Human immunodeficiency virus diagnoses,Influenza-associated pediatric mortality,"Invasive pneumococcal disease, All ages, Confirmed","Invasive pneumococcal disease, All ages, Probable","Invasive pneumococcal disease, Age <5 years, Confirmed","Invasive pneumococcal disease, Age <5 years, Probable",Legionellosis,Leptospirosis
0,United States,"34,775",82,"17,603",23,"1,137",5,"6,141",78
1,New England,966,4,"1,106",NaN,58,NaN,310,4
2,Connecticut,201,NaN,239,NaN,13,NaN,78,N
3,Maine,43,1,133,NaN,8,NaN,16,NaN
4,Massachusetts,607,2,513,NaN,31,NaN,141,2

In [293]:
read_txt_file_2016['Year'] = '2016'
read_txt_file_2016.head(2)

,index,Human immunodeficiency virus diagnoses,Influenza-associated pediatric mortality,"Invasive pneumococcal disease, All ages, Confirmed","Invasive pneumococcal disease, All ages, Probable","Invasive pneumococcal disease, Age <5 years, Confirmed","Invasive pneumococcal disease, Age <5 years, Probable",Legionellosis,Leptospirosis,Year
0,United States,"34,775",82,"17,603",23,"1,137",5,"6,141",78,2016
1,New England,966,4,"1,106",NaN,58,NaN,310,4,2016

In [294]:
legion_2016 = read_txt_file_2016
legion_2016.head(2)

,index,Human immunodeficiency virus diagnoses,Influenza-associated pediatric mortality,"Invasive pneumococcal disease, All ages, Confirmed","Invasive pneumococcal disease, All ages, Probable","Invasive pneumococcal disease, Age <5 years, Confirmed","Invasive pneumococcal disease, Age <5 years, Probable",Legionellosis,Leptospirosis,Year
0,United States,"34,775",82,"17,603",23,"1,137",5,"6,141",78,2016
1,New England,966,4,"1,106",NaN,58,NaN,310,4,2016

In [295]:
col_df = pd.read_csv('../data/2017-table2h.txt', sep=r'\\t', engine='python', skiprows = 3, nrows = 9)
columns = [col for col in col_df['Reporting Area']]
print(columns)

['Human immunodeficiency virus diagnoses', 'Influenza-associated pediatric mortality', 'Invasive pneumococcal disease, All ages, Confirmed *', 'Invasive pneumococcal disease, All ages, Probable *', 'Invasive pneumococcal disease, Age <5 years, Confirmed *', 'Invasive pneumococcal disease, Age <5 years, Probable *', 'Legionellosis', 'Leptospirosis']

In [296]:
read_txt_file_2017 = pd.read_csv('../data/2017-table2h.txt', sep='\\\t', names=columns, engine='python', skiprows = 14).reset_index()
read_txt_file_2017.head()

,index,Human immunodeficiency virus diagnoses,Influenza-associated pediatric mortality,"Invasive pneumococcal disease, All ages, Confirmed *","Invasive pneumococcal disease, All ages, Probable *","Invasive pneumococcal disease, Age <5 years, Confirmed *","Invasive pneumococcal disease, Age <5 years, Probable *",Legionellosis,Leptospirosis
0,United States,"33,938",126,"19,620",160,"1,220",14,"7,458",72
1,New England,900,5,"1,222",5,49,�,472,4
2,Connecticut,232,1,262,5,12,�,120,N
3,Maine,25,�,141,�,4,�,16,�
4,Massachusetts,516,2,590,�,21,�,201,N

In [297]:
read_txt_file_2017 = read_txt_file_2017.replace('�', np.nan)
read_txt_file_2017.head(3)

,index,Human immunodeficiency virus diagnoses,Influenza-associated pediatric mortality,"Invasive pneumococcal disease, All ages, Confirmed *","Invasive pneumococcal disease, All ages, Probable *","Invasive pneumococcal disease, Age <5 years, Confirmed *","Invasive pneumococcal disease, Age <5 years, Probable *",Legionellosis,Leptospirosis
0,United States,"33,938",126,"19,620",160,"1,220",14,"7,458",72
1,New England,900,5,"1,222",5,49,NaN,472,4
2,Connecticut,232,1,262,5,12,NaN,120,N

In [298]:
read_txt_file_2017['Year'] = '2017'
read_txt_file_2017.head(2)

,index,Human immunodeficiency virus diagnoses,Influenza-associated pediatric mortality,"Invasive pneumococcal disease, All ages, Confirmed *","Invasive pneumococcal disease, All ages, Probable *","Invasive pneumococcal disease, Age <5 years, Confirmed *","Invasive pneumococcal disease, Age <5 years, Probable *",Legionellosis,Leptospirosis,Year
0,United States,"33,938",126,"19,620",160,"1,220",14,"7,458",72,2017
1,New England,900,5,"1,222",5,49,NaN,472,4,2017

In [299]:
legion_2017 = read_txt_file_2017
legion_2017.head(2)

,index,Human immunodeficiency virus diagnoses,Influenza-associated pediatric mortality,"Invasive pneumococcal disease, All ages, Confirmed *","Invasive pneumococcal disease, All ages, Probable *","Invasive pneumococcal disease, Age <5 years, Confirmed *","Invasive pneumococcal disease, Age <5 years, Probable *",Legionellosis,Leptospirosis,Year
0,United States,"33,938",126,"19,620",160,"1,220",14,"7,458",72,2017
1,New England,900,5,"1,222",5,49,NaN,472,4,2017

In [300]:
col_df = pd.read_csv('../data/2018-table2h.txt', sep=r'\\t', engine='python', skiprows = 3, nrows = 9)
columns = [col for col in col_df['Reporting Area']]
print(columns)

['Human immunodeficiency virus diagnoses', 'Influenza-associated pediatric mortality', 'Invasive pneumococcal disease, All ages, Confirmed *', 'Invasive pneumococcal disease, All ages, Probable *', 'Invasive pneumococcal disease, Age <5 years, Confirmed *', 'Invasive pneumococcal disease, Age <5 years, Probable *', 'Legionellosis', 'Leptospirosis']

In [301]:
read_txt_file_2018 = pd.read_csv('../data/2018-table2h.txt', sep='\\\t', names=columns, engine='python', skiprows = 14).reset_index()
read_txt_file_2018.head()

,index,Human immunodeficiency virus diagnoses,Influenza-associated pediatric mortality,"Invasive pneumococcal disease, All ages, Confirmed *","Invasive pneumococcal disease, All ages, Probable *","Invasive pneumococcal disease, Age <5 years, Confirmed *","Invasive pneumococcal disease, Age <5 years, Probable *",Legionellosis,Leptospirosis
0,United States,"32,999",159,"19,619",238,"1,078",38,"9,933",91
1,New England,938,6,"1,134",8,46,2,767,1
2,Connecticut,208,4,252,�,9,�,198,N
3,Maine,26,�,132,�,4,�,34,�
4,Massachusetts,583,1,506,5,26,2,368,�

In [302]:
read_txt_file_2018 = read_txt_file_2018.replace('�', np.nan)
read_txt_file_2018.head(2)

,index,Human immunodeficiency virus diagnoses,Influenza-associated pediatric mortality,"Invasive pneumococcal disease, All ages, Confirmed *","Invasive pneumococcal disease, All ages, Probable *","Invasive pneumococcal disease, Age <5 years, Confirmed *","Invasive pneumococcal disease, Age <5 years, Probable *",Legionellosis,Leptospirosis
0,United States,"32,999",159,"19,619",238,"1,078",38,"9,933",91
1,New England,938,6,"1,134",8,46,2,767,1

In [303]:
read_txt_file_2018['Year'] = '2018'
read_txt_file_2018.head(2)

,index,Human immunodeficiency virus diagnoses,Influenza-associated pediatric mortality,"Invasive pneumococcal disease, All ages, Confirmed *","Invasive pneumococcal disease, All ages, Probable *","Invasive pneumococcal disease, Age <5 years, Confirmed *","Invasive pneumococcal disease, Age <5 years, Probable *",Legionellosis,Leptospirosis,Year
0,United States,"32,999",159,"19,619",238,"1,078",38,"9,933",91,2018
1,New England,938,6,"1,134",8,46,2,767,1,2018

In [304]:
legion_2018 = read_txt_file_2018
legion_2018.head(2)

,index,Human immunodeficiency virus diagnoses,Influenza-associated pediatric mortality,"Invasive pneumococcal disease, All ages, Confirmed *","Invasive pneumococcal disease, All ages, Probable *","Invasive pneumococcal disease, Age <5 years, Confirmed *","Invasive pneumococcal disease, Age <5 years, Probable *",Legionellosis,Leptospirosis,Year
0,United States,"32,999",159,"19,619",238,"1,078",38,"9,933",91,2018
1,New England,938,6,"1,134",8,46,2,767,1,2018

In [276]:
#concat_data = pd.concat([legion_2016, legion_2017, legion_2018])
#concat_data.head()

In [162]:
concat_data.columns

Index(['Human immunodeficiency virus diagnoses',
       'Influenza-associated pediatric mortality',
       'Invasive pneumococcal disease, All ages, Confirmed',
       'Invasive pneumococcal disease, All ages, Probable',
       'Invasive pneumococcal disease, Age <5 years, Confirmed',
       'Invasive pneumococcal disease, Age <5 years, Probable',
       'Legionellosis', 'Leptospirosis', 'Year',
       'Invasive pneumococcal disease, All ages, Confirmed *',
       'Invasive pneumococcal disease, All ages, Probable *',
       'Invasive pneumococcal disease, Age <5 years, Confirmed *',
       'Invasive pneumococcal disease, Age <5 years, Probable *'],
      dtype='object')

In [305]:
#data_frames = [legion_11_10, legion_13_12, legion_14_15]

#legion_2010_to_2015 = reduce(lambda left,right: pd.merge(left, right, on=['index'], how='outer'), data_frames)
#legion_2010_to_2015.head()

data_frames = [legion_2016, legion_2017, legion_2018]

legion_2016_to_2018 = reduce(lambda left,right: pd.merge(left, right, on=['index'], how='outer'), data_frames)
legion_2016_to_2018.head()

,index,Human immunodeficiency virus diagnoses_x,Influenza-associated pediatric mortality_x,"Invasive pneumococcal disease, All ages, Confirmed","Invasive pneumococcal disease, All ages, Probable","Invasive pneumococcal disease, Age <5 years, Confirmed","Invasive pneumococcal disease, Age <5 years, Probable",Legionellosis_x,Leptospirosis_x,Year_x,...,Year_y,Human immunodeficiency virus diagnoses,Influenza-associated pediatric mortality,"Invasive pneumococcal disease, All ages, Confirmed *_y","Invasive pneumococcal disease, All ages, Probable *_y","Invasive pneumococcal disease, Age <5 years, Confirmed *_y","Invasive pneumococcal disease, Age <5 years, Probable *_y",Legionellosis,Leptospirosis,Year
0,United States,"34,775",82,"17,603",23,"1,137",5,"6,141",78,2016,...,2017,"32,999",159,"19,619",238,"1,078",38,"9,933",91,2018
1,New England,966,4,"1,106",NaN,58,NaN,310,4,2016,...,2017,938,6,"1,134",8,46,2,767,1,2018
2,Connecticut,201,NaN,239,NaN,13,NaN,78,N,2016,...,2017,208,4,252,NaN,9,NaN,198,N,2018
3,Maine,43,1,133,NaN,8,NaN,16,NaN,2016,...,2017,26,NaN,132,NaN,4,NaN,34,NaN,2018
4,Massachusetts,607,2,513,NaN,31,NaN,141,2,2016,...,2017,583,1,506,5,26,2,368,NaN,2018

In [306]:
legion_2016_to_2018.columns

Index(['index', 'Human immunodeficiency virus diagnoses_x',
       'Influenza-associated pediatric mortality_x',
       'Invasive pneumococcal disease, All ages, Confirmed',
       'Invasive pneumococcal disease, All ages, Probable',
       'Invasive pneumococcal disease, Age <5 years, Confirmed',
       'Invasive pneumococcal disease, Age <5 years, Probable',
       'Legionellosis_x', 'Leptospirosis_x', 'Year_x',
       'Human immunodeficiency virus diagnoses_y',
       'Influenza-associated pediatric mortality_y',
       'Invasive pneumococcal disease, All ages, Confirmed *_x',
       'Invasive pneumococcal disease, All ages, Probable *_x',
       'Invasive pneumococcal disease, Age <5 years, Confirmed *_x',
       'Invasive pneumococcal disease, Age <5 years, Probable *_x',
       'Legionellosis_y', 'Leptospirosis_y', 'Year_y',
       'Human immunodeficiency virus diagnoses',
       'Influenza-associated pediatric mortality',
       'Invasive pneumococcal disease, All ages, Confirmed *_y',
       'Invasive pneumococcal disease, All ages, Probable *_y',
       'Invasive pneumococcal disease, Age <5 years, Confirmed *_y',
       'Invasive pneumococcal disease, Age <5 years, Probable *_y',
       'Legionellosis', 'Leptospirosis', 'Year'],
      dtype='object')

In [307]:
legion_2016_to_2018 = legion_2016_to_2018.drop(columns = ['Human immunodeficiency virus diagnoses_x',
       'Influenza-associated pediatric mortality_x',
       'Invasive pneumococcal disease, All ages, Confirmed',
       'Invasive pneumococcal disease, All ages, Probable',
       'Invasive pneumococcal disease, Age <5 years, Confirmed',
       'Invasive pneumococcal disease, Age <5 years, Probable','Leptospirosis_x', 'Human immunodeficiency virus diagnoses_y',
       'Influenza-associated pediatric mortality_y',
       'Invasive pneumococcal disease, All ages, Confirmed *_x',
       'Invasive pneumococcal disease, All ages, Probable *_x',
       'Invasive pneumococcal disease, Age <5 years, Confirmed *_x',
       'Invasive pneumococcal disease, Age <5 years, Probable *_x', 'Leptospirosis_y', 'Human immunodeficiency virus diagnoses',
       'Influenza-associated pediatric mortality',
       'Invasive pneumococcal disease, All ages, Confirmed *_y',
       'Invasive pneumococcal disease, All ages, Probable *_y',
       'Invasive pneumococcal disease, Age <5 years, Confirmed *_y',
       'Invasive pneumococcal disease, Age <5 years, Probable *_y', 'Leptospirosis',])
legion_2016_to_2018.head()

,index,Legionellosis_x,Year_x,Legionellosis_y,Year_y,Legionellosis,Year
0,United States,"6,141",2016,"7,458",2017,"9,933",2018
1,New England,310,2016,472,2017,767,2018
2,Connecticut,78,2016,120,2017,198,2018
3,Maine,16,2016,16,2017,34,2018
4,Massachusetts,141,2016,201,2017,368,2018

In [308]:
#legion_16_17_18.to_excel("../data/legion_16_17_18.xlsx", index=True)

legion_2016_to_2018.to_excel("../data/legion_2016_to_2018.xlsx", index=True)

In [163]:
legion_16_17 = concat_data.drop(columns = ['Human immunodeficiency virus diagnoses', 'Influenza-associated pediatric mortality',
       'Invasive pneumococcal disease, All ages, Confirmed',
       'Invasive pneumococcal disease, All ages, Probable',
       'Invasive pneumococcal disease, Age <5 years, Confirmed',
       'Invasive pneumococcal disease, Age <5 years, Probable', 'Leptospirosis', 'Invasive pneumococcal disease, All ages, Confirmed *',
       'Invasive pneumococcal disease, All ages, Probable *',
       'Invasive pneumococcal disease, Age <5 years, Confirmed *',
       'Invasive pneumococcal disease, Age <5 years, Probable *'])
legion_16_17.head()

              Legionellosis  Year
United States         6,141  2016
New England             310  2016
Connecticut              78  2016
Maine                    16  2016
Massachusetts           141  2016

In [119]:
legion_16_17.tail()

                                                   Legionellosis  Year
Suggested Citation:                                         None  2017
Centers for Disease Control and Prevention. Nat...          None  2017
Available at: https://www.cdc.gov/nndss/infecti...          None  2017
https://wwwn.cdc.gov/nndss/, National Notifiabl...          None  2017
Provided by https://wonder.cdc.gov, CDC WONDER              None  2017

In [164]:
legion_16_17_18 = concat_data.drop(columns = ['Human immunodeficiency virus diagnoses', 'Influenza-associated pediatric mortality',
       'Invasive pneumococcal disease, All ages, Confirmed',
       'Invasive pneumococcal disease, All ages, Probable',
       'Invasive pneumococcal disease, Age <5 years, Confirmed',
       'Invasive pneumococcal disease, Age <5 years, Probable', 'Leptospirosis', 'Invasive pneumococcal disease, All ages, Confirmed *',
       'Invasive pneumococcal disease, All ages, Probable *',
       'Invasive pneumococcal disease, Age <5 years, Confirmed *',
       'Invasive pneumococcal disease, Age <5 years, Probable *'])
legion_16_17_18.head()

              Legionellosis  Year
United States         6,141  2016
New England             310  2016
Connecticut              78  2016
Maine                    16  2016
Massachusetts           141  2016

In [120]:
legion_16_17.to_excel("../data/legion_16_17.xlsx", index=True)

In [199]:
legion_16_17_18.to_excel("../data/legion_16_17_18.xlsx", index=True)

# Get legionnaires data off of tables for years 2015-2011

In [234]:
col_df = pd.read_csv('../data/TABLE_II_Part6_2011_week52.txt', sep=r'\\t', engine='python', skiprows = 4, nrows = 16)
columns = [col for col in col_df['Reporting Area']]
print(columns)

['Legionellosis current week', 'Legionellosis previous 52 weeks median', 'Legionellosis previous 52 weeks maximum', 'Legionellosis cummulative for 2011', 'Legionellosis cummulative for 2010', 'Lyme disease current week', 'Lyme disease previous 52 weeks median', 'Lyme disease previous 52 weeks maximum', 'Lyme disease cummulative for 2011', 'Lyme disease cummulative for 2010', 'Malaria current week', 'Malaria previous 52 weeks median', 'Malaria previous 52 weeks maximum', 'Malaria cummulative for 2011', 'Malaria cummulative for 2010']

In [235]:
read_legion_2011_2010 = pd.read_csv('../data/TABLE_II_Part6_2011_week52.txt', sep='\\\t', names=columns, engine='python', skiprows = 22).reset_index()
read_legion_2011_2010.head(2)

,index,Legionellosis current week,Legionellosis previous 52 weeks median,Legionellosis previous 52 weeks maximum,Legionellosis cummulative for 2011,Legionellosis cummulative for 2010,Lyme disease current week,Lyme disease previous 52 weeks median,Lyme disease previous 52 weeks maximum,Lyme disease cummulative for 2011,Lyme disease cummulative for 2010,Malaria current week,Malaria previous 52 weeks median,Malaria previous 52 weeks maximum,Malaria cummulative for 2011,Malaria cummulative for 2010
0,UNITED STATES,31,61,161,"3,676","3,346",94,350,"1,486","23,974","30,158",6,25,114,"1,372","1,773"
1,NEW ENGLAND,-,5,39,394,274,3,78,500,"6,906","8,958",-,1,20,88,124

In [236]:
read_legion_2011_2010.columns

Index(['index', 'Legionellosis current week',
       'Legionellosis previous 52 weeks median',
       'Legionellosis previous 52 weeks maximum',
       'Legionellosis cummulative for 2011',
       'Legionellosis cummulative for 2010', 'Lyme disease current week',
       'Lyme disease previous 52 weeks median',
       'Lyme disease previous 52 weeks maximum',
       'Lyme disease cummulative for 2011',
       'Lyme disease cummulative for 2010', 'Malaria current week',
       'Malaria previous 52 weeks median', 'Malaria previous 52 weeks maximum',
       'Malaria cummulative for 2011', 'Malaria cummulative for 2010'],
      dtype='object')

In [237]:
legion_11_10= read_legion_2011_2010.drop(columns = ['Legionellosis current week', 'Legionellosis previous 52 weeks median',
       'Legionellosis previous 52 weeks maximum', 'Lyme disease current week',
       'Lyme disease previous 52 weeks median',
       'Lyme disease previous 52 weeks maximum',
       'Lyme disease cummulative for 2011',
       'Lyme disease cummulative for 2010', 'Malaria current week',
       'Malaria previous 52 weeks median', 'Malaria previous 52 weeks maximum',
       'Malaria cummulative for 2011', 'Malaria cummulative for 2010',])
legion_11_10.head(2)

,index,Legionellosis cummulative for 2011,Legionellosis cummulative for 2010
0,UNITED STATES,"3,676","3,346"
1,NEW ENGLAND,394,274

In [238]:
col_df = pd.read_csv('../data/TABLE_II_Part6_2013_week52.txt', sep=r'\\t', engine='python', skiprows = 4, nrows = 16)
columns = [col for col in col_df['Reporting Area']]
print(columns)

['Legionellosis current week', 'Legionellosis previous 52 weeks median', 'Legionellosis previous 52 weeks maximum', 'Legionellosis cummulative for 2013', 'Legionellosis cummulative for 2012', 'Lyme disease current week', 'Lyme disease previous 52 weeks median', 'Lyme disease previous 52 weeks maximum', 'Lyme disease cummulative for 2013', 'Lyme disease cummulative for 2012', 'Malaria current week', 'Malaria previous 52 weeks median', 'Malaria previous 52 weeks maximum', 'Malaria cummulative for 2013', 'Malaria cummulative for 2012']

In [239]:
read_legion_2013_2012 = pd.read_csv('../data/TABLE_II_Part6_2013_week52.txt', sep='\\\t', names=columns, engine='python', skiprows = 22).reset_index()
read_legion_2013_2012.head(2)

,index,Legionellosis current week,Legionellosis previous 52 weeks median,Legionellosis previous 52 weeks maximum,Legionellosis cummulative for 2013,Legionellosis cummulative for 2012,Lyme disease current week,Lyme disease previous 52 weeks median,Lyme disease previous 52 weeks maximum,Lyme disease cummulative for 2013,Lyme disease cummulative for 2012,Malaria current week,Malaria previous 52 weeks median,Malaria previous 52 weeks maximum,Malaria cummulative for 2013,Malaria cummulative for 2012
0,UNITED STATES,20,63,258,"4,548","3,688",56,347,"2,146","30,552","30,831",4,24,87,"1,282","1,503"
1,NEW ENGLAND,1,5,25,335,308,1,108,878,"10,309","11,095",-,2,11,99,104

In [240]:
read_legion_2013_2012.columns

Index(['index', 'Legionellosis current week',
       'Legionellosis previous 52 weeks median',
       'Legionellosis previous 52 weeks maximum',
       'Legionellosis cummulative for 2013',
       'Legionellosis cummulative for 2012', 'Lyme disease current week',
       'Lyme disease previous 52 weeks median',
       'Lyme disease previous 52 weeks maximum',
       'Lyme disease cummulative for 2013',
       'Lyme disease cummulative for 2012', 'Malaria current week',
       'Malaria previous 52 weeks median', 'Malaria previous 52 weeks maximum',
       'Malaria cummulative for 2013', 'Malaria cummulative for 2012'],
      dtype='object')

In [242]:
legion_13_12 = read_legion_2013_2012.drop(columns = ['Legionellosis current week',
       'Legionellosis previous 52 weeks median',
       'Legionellosis previous 52 weeks maximum','Lyme disease current week',
       'Lyme disease previous 52 weeks median',
       'Lyme disease previous 52 weeks maximum',
       'Lyme disease cummulative for 2013',
       'Lyme disease cummulative for 2012', 'Malaria current week',
       'Malaria previous 52 weeks median', 'Malaria previous 52 weeks maximum',
       'Malaria cummulative for 2013', 'Malaria cummulative for 2012'])
legion_13_12.head()

,index,Legionellosis cummulative for 2013,Legionellosis cummulative for 2012
0,UNITED STATES,"4,548","3,688"
1,NEW ENGLAND,335,308
2,Conn.,59,55
3,Maine,19,18
4,Mass.,185,173

In [254]:
col_df = pd.read_csv('../data/TABLE_II_Part7_2015_week52.txt', sep=r'\\t', engine='python', skiprows = 4, nrows = 16)
columns = [col for col in col_df['Reporting Area']]
print(columns)

['Invasive Pneumococcal�, All Ages Disease current week', 'Invasive Pneumococcal�, All Ages previous 52 weeks median', 'Invasive Pneumococcal�, All Ages previous 52 weeks maximum', 'Invasive Pneumococcal�, All Ages cummulative for 2015', 'Invasive Pneumococcal�, All Ages cummulative for 2014', 'Invasive Pneumococcal�, Age <5 years current week', 'Invasive Pneumococcal�, Age <5 years previous 52 weeks median', 'Invasive Pneumococcal�, Age <5 years previous 52 weeks maximum', 'Invasive Pneumococcal�, Age <5 years cummulative for 2015', 'Invasive Pneumococcal�, Age <5 years cummulative for 2014', 'Legionellosis current week', 'Legionellosis previous 52 weeks median', 'Legionellosis previous 52 weeks maximum', 'Legionellosis cummulative for 2015', 'Legionellosis cummulative for 2014']

In [255]:
read_legion_2014_2015 = pd.read_csv('../data/TABLE_II_Part7_2015_week52.txt', sep='\\\t', names=columns, engine='python', skiprows = 22).reset_index()
read_legion_2014_2015.head(2)

,index,"Invasive Pneumococcal�, All Ages Disease current week","Invasive Pneumococcal�, All Ages previous 52 weeks median","Invasive Pneumococcal�, All Ages previous 52 weeks maximum","Invasive Pneumococcal�, All Ages cummulative for 2015","Invasive Pneumococcal�, All Ages cummulative for 2014","Invasive Pneumococcal�, Age <5 years current week","Invasive Pneumococcal�, Age <5 years previous 52 weeks median","Invasive Pneumococcal�, Age <5 years previous 52 weeks maximum","Invasive Pneumococcal�, Age <5 years cummulative for 2015","Invasive Pneumococcal�, Age <5 years cummulative for 2014",Legionellosis current week,Legionellosis previous 52 weeks median,Legionellosis previous 52 weeks maximum,Legionellosis cummulative for 2015,Legionellosis cummulative for 2014
0,UNITED STATES,173,265,761,"14,714","14,595",9,23,41,"1,076","1,024",23,90,223,"5,345","5,049"
1,NEW ENGLAND,3,19,55,971,"1,081",-,0,5,42,51,-,5,15,288,265

In [189]:
read_legion_2014_2015.columns

Index(['Invasive Pneumococcal�, All Ages Disease current week',
       'Invasive Pneumococcal�, All Ages previous 52 weeks median',
       'Invasive Pneumococcal�, All Ages previous 52 weeks maximum',
       'Invasive Pneumococcal�, All Ages cummulative for 2015',
       'Invasive Pneumococcal�, All Ages cummulative for 2014',
       'Invasive Pneumococcal�, Age <5 years current week',
       'Invasive Pneumococcal�, Age <5 years previous 52 weeks median',
       'Invasive Pneumococcal�, Age <5 years previous 52 weeks maximum',
       'Invasive Pneumococcal�, Age <5 years cummulative for 2015',
       'Invasive Pneumococcal�, Age <5 years cummulative for 2014',
       'Legionellosis current week', 'Legionellosis previous 52 weeks median',
       'Legionellosis previous 52 weeks maximum',
       'Legionellosis cummulative for 2015',
       'Legionellosis cummulative for 2014'],
      dtype='object')

In [256]:
legion_14_15= read_legion_2014_2015.drop(columns = ['Invasive Pneumococcal�, All Ages Disease current week',
       'Invasive Pneumococcal�, All Ages previous 52 weeks median',
       'Invasive Pneumococcal�, All Ages previous 52 weeks maximum',
       'Invasive Pneumococcal�, All Ages cummulative for 2015',
       'Invasive Pneumococcal�, All Ages cummulative for 2014',
       'Invasive Pneumococcal�, Age <5 years current week',
       'Invasive Pneumococcal�, Age <5 years previous 52 weeks median',
       'Invasive Pneumococcal�, Age <5 years previous 52 weeks maximum',
       'Invasive Pneumococcal�, Age <5 years cummulative for 2015',
       'Invasive Pneumococcal�, Age <5 years cummulative for 2014',
       'Legionellosis current week', 'Legionellosis previous 52 weeks median',
       'Legionellosis previous 52 weeks maximum',])
legion_14_15.head(2)

,index,Legionellosis cummulative for 2015,Legionellosis cummulative for 2014
0,UNITED STATES,"5,345","5,049"
1,NEW ENGLAND,288,265

# Merge all 2015-2010 dataframes together

In [257]:
# data_frames = [df1, df2, df3] 
#df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['DATE'],
                                          how='outer'), data_frames)

data_frames = [legion_11_10, legion_13_12, legion_14_15]

legion_2010_to_2015 = reduce(lambda left,right: pd.merge(left, right, on=['index'], how='outer'), data_frames)
legion_2010_to_2015.head()

#df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['DATE'],
#                                            how='outer'), data_frames)

,index,Legionellosis cummulative for 2011,Legionellosis cummulative for 2010,Legionellosis cummulative for 2013,Legionellosis cummulative for 2012,Legionellosis cummulative for 2015,Legionellosis cummulative for 2014
0,UNITED STATES,"3,676","3,346","4,548","3,688","5,345","5,049"
1,NEW ENGLAND,394,274,335,308,288,265
2,Conn.,78,56,59,55,52,60
3,Maine,18,12,19,18,16,19
4,Mass.,235,131,185,173,151,141

In [259]:
legion_2010_to_2015.columns = ['state', '2011', '2010', '2013', '2012', '2015', '2014']
legion_2010_to_2015.head()

           state   2011   2010   2013   2012   2015   2014
0  UNITED STATES  3,676  3,346  4,548  3,688  5,345  5,049
1    NEW ENGLAND    394    274    335    308    288    265
2          Conn.     78     56     59     55     52     60
3          Maine     18     12     19     18     16     19
4          Mass.    235    131    185    173    151    141

In [260]:
legion_2010_to_2015.to_excel("../data/legion_2010_to_2015.xlsx", index=True)

# Tidy the Data

In [72]:
legion_data = pd.read_excel('../data/pop_leg_2010_to_2018.xlsx')
legion_data.head()

,states,2010 Legionnaires_cases,pop_2010,2010 per capita,2011 Legionnaires_cases,pop_2011,2011 per capita,2012 Legionnaires_cases,po_2012,2012 per capita,...,2015 per capita,2016 Legionnaires_cases,pop_2016,2016 per capita,2017 Legionnaires_cases,pop_2017,2017 per capita,2018 Legionnaires_cases,2018,2018 per capita
0,Alabama,22,4785437.0,0.000460,26,4799069.0,0.000542,20,4815588.0,0.000415,...,0.001175,63,4863525.0,0.001295,66,4874486.0,0.001354,76,4887681.0,0.001555
1,Alaska,2,713910.0,0.000280,-,722128.0,NaN,1,730443.0,0.000137,...,NaN,1,741456.0,0.000135,6,739700.0,0.000811,3,735139.0,0.000408
2,America Samoa,N,NaN,NaN,N,NaN,NaN,N,NaN,NaN,...,NaN,13,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN
3,Arizona,65,6407172.0,0.001014,42,6472643.0,0.000649,44,6554978.0,0.000671,...,0.001303,76,6941072.0,0.001095,74,7044008.0,0.001051,83,7158024.0,0.001160
4,Arkansas,19,2921964.0,0.000650,14,2940667.0,0.000476,20,2952164.0,0.000677,...,0.001209,48,2989918.0,0.001605,56,3001345.0,0.001866,46,3009733.0,0.001528

In [73]:
legion_data = pd.read_excel('../data/pop_leg_2010_to_2018.xlsx')
legion_data_2010 =legion_data.set_index('states', inplace=True)
legion_data_2010 = legion_data.loc[:, '2010 Legionnaires_cases':'2010 per capita']
legion_data_2010.reset_index(inplace=True)
legion_data_2010.head()

          states 2010 Legionnaires_cases   pop_2010  2010 per capita
0        Alabama                      22  4785437.0         0.000460
1         Alaska                       2   713910.0         0.000280
2  America Samoa                       N        NaN              NaN
3        Arizona                      65  6407172.0         0.001014
4       Arkansas                      19  2921964.0         0.000650

In [74]:
legion_data = pd.read_excel('../data/pop_leg_2010_to_2018.xlsx')
legion_data_2011 =legion_data.set_index('states', inplace=True)
legion_data_2011 = legion_data.loc[:, '2011 Legionnaires_cases':'2011 per capita']
legion_data_2011.reset_index(inplace=True)
legion_data_2011.head()

          states 2011 Legionnaires_cases   pop_2011  2011 per capita
0        Alabama                      26  4799069.0         0.000542
1         Alaska                       -   722128.0              NaN
2  America Samoa                       N        NaN              NaN
3        Arizona                      42  6472643.0         0.000649
4       Arkansas                      14  2940667.0         0.000476

Index(['2011 Legionnaires_cases', 'pop_2011', '2011 per capita'], dtype='object')

In [76]:
legion_data = pd.read_excel('../data/pop_leg_2010_to_2018.xlsx')
legion_data_2012 =legion_data.set_index('states', inplace=True)
legion_data_2012 = legion_data.loc[:, '2012 Legionnaires_cases':'2012 per capita']
legion_data_2012.reset_index(inplace=True)
legion_data_2012.head()

          states 2012 Legionnaires_cases    po_2012  2012 per capita
0        Alabama                      20  4815588.0         0.000415
1         Alaska                       1   730443.0         0.000137
2  America Samoa                       N        NaN              NaN
3        Arizona                      44  6554978.0         0.000671
4       Arkansas                      20  2952164.0         0.000677

In [77]:
legion_data = pd.read_excel('../data/pop_leg_2010_to_2018.xlsx')
legion_data_2013 =legion_data.set_index('states', inplace=True)
legion_data_2013 = legion_data.loc[:, '2013 Legionnaires_cases':'2013 per capita']
legion_data_2013.reset_index(inplace=True)
#legion_data_2013.head()

legion_data = pd.read_excel('../data/pop_leg_2010_to_2018.xlsx')

legion_data_2014 =legion_data.set_index('states', inplace=True)
legion_data_2014 = legion_data.loc[:, '2014 Legionnaires_cases':'2014 per capita']
legion_data_2014.reset_index(inplace=True)
#legion_data_2014.head()

legion_data = pd.read_excel('../data/pop_leg_2010_to_2018.xlsx')

legion_data_2015 =legion_data.set_index('states', inplace=True)
legion_data_2015 = legion_data.loc[:, '2015 Legionnaires_cases':'2015 per capita']
legion_data_2015.reset_index(inplace=True)
#legion_data_2015.head()

legion_data = pd.read_excel('../data/pop_leg_2010_to_2018.xlsx')

legion_data_2016 =legion_data.set_index('states', inplace=True)
legion_data_2016 = legion_data.loc[:, '2016 Legionnaires_cases':'2016 per capita']
legion_data_2016.reset_index(inplace=True)
#legion_data_2016.head()

legion_data = pd.read_excel('../data/pop_leg_2010_to_2018.xlsx')

legion_data_2017 =legion_data.set_index('states', inplace=True)
legion_data_2017 = legion_data.loc[:, '2017 Legionnaires_cases':'2017 per capita']
legion_data_2017.reset_index(inplace=True)
#legion_data_2017.head()

legion_data = pd.read_excel('../data/pop_leg_2010_to_2018.xlsx')

legion_data_2018 =legion_data.set_index('states', inplace=True)
legion_data_2018 = legion_data.loc[:, '2018 Legionnaires_cases':'2018 per capita']
legion_data_2018.reset_index(inplace=True)
#legion_data_2018.head()

In [78]:
legion_data_2010['year'] = '2010'
legion_data_2011['year'] = '2011'
legion_data_2012['year'] = '2012'
legion_data_2013['year'] = '2013'
legion_data_2014['year'] = '2014'
legion_data_2015['year'] = '2015'
legion_data_2016['year'] = '2016'
legion_data_2017['year'] = '2017'
legion_data_2018['year'] = '2018'

In [79]:
legion_data_2010.columns =['states', 'cases', 'population', 'per_capita_pop', 'year']
legion_data_2010.head(2)

    states cases  population  per_capita_pop  year
0  Alabama    22   4785437.0         0.00046  2010
1   Alaska     2    713910.0         0.00028  2010

In [48]:
legion_data_2011.columns

Index(['states', '2011 Legionnaires_cases', 'pop_2011', '2011 per capita'], dtype='object')

In [80]:
#school_and_type.columns = ['school', 'type']
legion_data_2011.columns =['states', 'cases', 'population', 'per_capita_pop', 'year']
legion_data_2011.head(2)

    states cases  population  per_capita_pop  year
0  Alabama    26   4799069.0        0.000542  2011
1   Alaska     -    722128.0             NaN  2011

In [81]:
legion_data_2012.columns =['states', 'cases', 'population', 'per_capita_pop', 'year']
legion_data_2012.head(2)

    states cases  population  per_capita_pop  year
0  Alabama    20   4815588.0        0.000415  2012
1   Alaska     1    730443.0        0.000137  2012

In [82]:
legion_data_2013.columns =['states', 'cases', 'population', 'per_capita_pop', 'year']
legion_data_2013.head(2)

    states cases  population  per_capita_pop  year
0  Alabama    41   4830081.0        0.000849  2013
1   Alaska     1    737068.0        0.000136  2013

In [83]:
legion_data_2014.columns =['states', 'cases', 'population', 'per_capita_pop', 'year']
legion_data_2014.head(2)

    states cases  population  per_capita_pop  year
0  Alabama    63   4841799.0        0.001301  2014
1   Alaska     2    736283.0        0.000272  2014

In [84]:
legion_data_2015.columns =['states', 'cases', 'population', 'per_capita_pop', 'year']
legion_data_2015.head(2)

    states cases  population  per_capita_pop  year
0  Alabama    57   4852347.0        0.001175  2015
1   Alaska     -    737498.0             NaN  2015

In [85]:
legion_data_2016.columns =['states', 'cases', 'population', 'per_capita_pop', 'year']
legion_data_2016.head(2)

    states cases  population  per_capita_pop  year
0  Alabama    63   4863525.0        0.001295  2016
1   Alaska     1    741456.0        0.000135  2016

In [86]:
legion_data_2017.columns =['states', 'cases', 'population', 'per_capita_pop', 'year']
legion_data_2017.head(2)

    states cases  population  per_capita_pop  year
0  Alabama    66   4874486.0        0.001354  2017
1   Alaska     6    739700.0        0.000811  2017

In [87]:
legion_data_2018.columns =['states', 'cases', 'population', 'per_capita_pop', 'year']
legion_data_2018.head(2)

    states cases  population  per_capita_pop  year
0  Alabama    76   4887681.0        0.001555  2018
1   Alaska     3    735139.0        0.000408  2018

In [ ]:
#df3.columns = ['column1','column2','column3']

In [89]:
legion_2010_to_2018 = pd.concat([legion_data_2010, legion_data_2011, legion_data_2012, 
                                legion_data_2013, legion_data_2014, 
                                legion_data_2015, legion_data_2016, 
                                legion_data_2017, legion_data_2018])
legion_2010_to_2018.head()

          states cases  population  per_capita_pop  year
0        Alabama    22   4785437.0        0.000460  2010
1         Alaska     2    713910.0        0.000280  2010
2  America Samoa     N         NaN             NaN  2010
3        Arizona    65   6407172.0        0.001014  2010
4       Arkansas    19   2921964.0        0.000650  2010

In [97]:
legion_2010_to_2018 = legion_2010_to_2018.to_excel("../data/legion_2010_to_2018.xlsx", index=True)

# Medicare data for testing

In [133]:
#Legionella testing
HCPCS_rows =[]
for chunk in pd.read_csv('../data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_PUF_CY2017.csv', 
                         chunksize = 1000):
    HCPCS_rows.append(chunk[chunk['HCPCS Code'] == '86713']) 
               
                
hcpcs_pay_86713 = pd.concat(HCPCS_rows, ignore_index=True)
print(hcpcs_pay_86713.shape)

hcpcs_pay_86713.head(2)

KeyboardInterrupt:

In [65]:
my_list = ['87278', '86713', '87541']

HCPCS_rows =[]
for chunk in pd.read_csv('../data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_PUF_CY2017.csv', 
                         chunksize = 1000):
    HCPCS_rows.append(chunk[chunk['HCPCS Code'].isin(my_list)]) 
               
                
legion_testing_17 = pd.concat(HCPCS_rows, ignore_index=True)

print(legion_testing_17.shape)
legion_testing_17.head(35)

(35, 26)

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,1053721373,"TAUSTIN LABORATORIES, LLC",NaN,NaN,NaN,NaN,O,2868 ACTON RD,SUITE 207,VESTAVIA,...,87541,Detection test for legionella pneumophila (wat...,N,23.0,22,23,30.920000,75.000000,28.982609,45.128696
1,1063497451,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,69 1ST AVE,NaN,RARITAN,...,86713,Analysis for antibody to Legionella (waterborn...,N,43.0,42,42,20.081163,142.537209,19.679535,20.570000
2,1124442306,"TOTAL DIAGNOSTIX II, LLC",NaN,NaN,NaN,NaN,O,3740 BUSINESS DR STE 101,NaN,MEMPHIS,...,87541,Detection test for legionella pneumophila (wat...,N,88.0,88,88,48.140000,61.513636,47.180000,47.180000
3,1134277494,"BIO-REFERENCE LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,481 EDWARD H ROSS DR,NaN,ELMWOOD PARK,...,86713,Analysis for antibody to Legionella (waterborn...,N,75.0,39,43,20.990000,75.050533,20.570000,20.570000
4,1134377781,DIATHERIX LABORATORIES LLC,NaN,NaN,NaN,NaN,O,601 GENOME WAY,SUITE 2100,HUNTSVILLE,...,87541,Detection test for legionella pneumophila (wat...,N,3235.0,2876,3235,30.000000,30.000000,29.229713,47.158015
5,1194769497,"CLINICAL PATHOLOGY LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,9200 WALL ST,NaN,AUSTIN,...,86713,Analysis for antibody to Legionella (waterborn...,N,26.0,14,14,11.220000,92.701923,10.995385,20.570000
6,1235234402,"ENZO CLINICAL LABS, INC.",NaN,NaN,NaN,NaN,O,60 EXECUTIVE BLVD,NaN,FARMINGDALE,...,86713,Analysis for antibody to Legionella (waterborn...,N,14.0,14,14,20.990000,273.000000,20.570000,20.570000
7,1245307818,QUEST DIAGNOSTICS INCORPORATED MD,NaN,NaN,NaN,NaN,O,1901 SULPHUR SPRING RD,NaN,BALTIMORE,...,86713,Analysis for antibody to Legionella (waterborn...,N,88.0,48,69,20.990000,155.377045,20.499773,20.570000
8,1255314704,LABORATORY CORPORATION OF AMERICA,NaN,NaN,NaN,NaN,O,5610 W LASALLE STREET,NaN,TAMPA,...,86713,Analysis for antibody to Legionella (waterborn...,N,12.0,12,12,20.990000,146.510833,20.570000,20.570000
9,1366479099,UNILAB CORPORATION,NaN,NaN,NaN,NaN,O,8401 FALLBROOK AVE,NaN,WEST HILLS,...,86713,Analysis for antibody to Legionella (waterborn...,N,28.0,17,17,20.739286,202.016786,20.324286,20.570000
10,1366543795,NORTHWELL HEALTH LABORATORIES,NaN,NaN,NaN,NaN,O,10 NEVADA DR,NaN,NEW HYDE PARK,...,86713,Analysis for antibody to Legionella (waterborn...,N,36.0,35,36,20.990000,91.000000,20.570000,20.570000
11,1366543795,NORTHWELL HEALTH LABORATORIES,NaN,NaN,NaN,NaN,O,10 NEVADA DR,NaN,NEW HYDE PARK,...,87278,Detection test for legionella pneumophila (wat...,N,56.0,53,56,15.090000,100.000000,14.790000,16.110000
12,1376587113,"SUNRISE MEDICAL LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,250 MILLER PL,NaN,HICKSVILLE,...,86713,Analysis for antibody to Legionella (waterborn...,N,62.0,33,38,11.220000,161.512903,10.996452,20.570000
13,1447296272,"QUEST DIAGNOSTICS NICHOLS INSTITUTE, INC.",NaN,NaN,NaN,NaN,O,14225 NEWBROOK DR,NaN,CHANTILLY,...,87278,Detection test for legionella pneumophila (wat...,N,47.0,30,47,15.090000,153.775319,14.790000,16.110000
14,1457341851,"PHYSICIAN'S AUTOMATED LABORATORY, INC",NaN,NaN,NaN,NaN,O,820 34TH ST,SUITE 103,BAKERSFIELD,...,86713,Analysis for antibody to Legionella (waterborn...,N,163.0,81,87,11.220000,16.889693,10.995337,20.452515
15,1457515744,FRY LABORATORIES LLC,NaN,NaN,NaN,NaN,O,14807 N 73RD ST #103,NaN,SCOTTSDALE,...,87541,Detection test for legionella pneumophila (wat...,N,58.0,57,58,48.140000,70.295000,47.180000,47.180000
16,1497773337,"REGIONAL MEDICAL LABORATORY, INC",NaN,NaN,NaN,NaN,O,4142 S MINGO RD,NaN,TULSA,...,86713,Analysis for antibody to Legionella (waterborn...,N,21.0,21,21,20.990000,72.792857,20.570000,20.570000
17,1538105366,"SONORA QUEST LABORATORIES, LLC.",NaN,NaN,NaN,NaN,O,1255 W WASHINGTON ST,NaN,TEMPE,...,86713,Analysis for antibody to Legionella (waterborn...,N,194.0,104,106,20.990000,126.390103,20.570000,20.570000
18,1538144910,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,1447 YORK CT,NaN,BURLINGTON,...,86713,Analysis for antibody to Legionella (waterborn...,N,312.0,279,302,20.175833,143.624647,19.772500,20.570000
19,1538144910,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,1447 YORK CT,NaN,BURLINGTON,...,87278,Detection test for legionella pneumophila (wat...,N,15.0,15,15,15.710000,228.076667,15.400000,16.110000
20,1588093165,SHIEL HOLDINGS LLC,NaN,NaN,NaN,NaN,O,63 FLUSHING AVENUE,"UNIT 336, 2ND FLOOR",BROOKLYN,...,86713,Analysis for antibody to Legionella (waterborn...,N,26.0,14,14,11.220000,99.000000,10.995385,20.570000
21,1598942443,MARTIN,LOUANN,M,ARNP,F,I,1650 MAIN ST,NaN,WOODWARD,...,87541,Detection test for legionella pneumophila (wat...,N,27.0,26,27,48.140000,73.000000,47.180000,47.180000
22,1659352276,LABORATORY CORPORATION OF AMERICA,NaN,NaN,NaN,NaN,O,13112 EVENING CREEK DR S,SUITE 200,SAN DIEGO,...,86713,Analysis for antibody to Legionella (waterborn...,N,12.0,12,12,20.175833,138.591667,19.772500,20.570000
23,1740262880,LABORATORY CORPORATION OF AMERICA,NaN,NaN,NaN,NaN,O,5005 S 40TH ST,STE 1200,PHOENIX,...,86713,Analysis for antibody to Legionella (waterborn...,N,59.0,54,54,19.334068,137.664576,18.947966,20.570000
24,1750373908,"MEDICAL DIAGNOSTIC LABORATORIES,LLC",NaN,NaN,NaN,NaN,O,2439 KUSER RD,NaN,HAMILTON,...,87541,Detection test for legionella pneumophila (wat...,N,11.0,11,11,48.140000,130.000000,47.180000,47.180000
25,1760897755,"PHYSICIANS GROUP LABORATORIES, LLC",NaN,NaN,NaN,NaN,O,1356 W TUNNEL BLVD STE C,NaN,HOUMA,...,87541,Detection test for legionella pneumophila (wat...,N,23.0,20,23,48.140000,119.500000,47.180000,47.180000
26,1770529513,DIAGNOSTIC LABORATORY OF OKLAHOMA LLC,NaN,NaN,NaN,NaN,O,225 NE 97TH STREET,NaN,OKLAHOMA CITY,...,87541,Detection test for legionella pneumophila (wat...,N,26.0,25,26,30.228462,30.228462,29.621154,46.505385
27,1770984239,ABIRA MEDICAL LABORATORIES,NaN,NaN,NaN,NaN,O,900 TOWN CENTER DR,SUITE H-50,LANGHORNE,...,87541,Detection test for legionella pneumophila (wat...,N,263.0,239,263,48.140000,53.027148,47.180000,47.180000
28,1801142435,COMPLIANCE ADVANTAGE LLC,NaN,NaN,NaN,NaN,O,232 N PLAZA DR,NaN,NICHOLASVILLE,...,87541,Detection test for legionella pneumophila (wat...,N,21.0,21,21,48.140000,68.000000,47.180000,47.180000
29,1861404121,"EAST SIDE CLINICAL LABORATORY, INC.",NaN,NaN,NaN,NaN,O,10 RISHO AVENUE,NaN,EAST PROVIDENCE,...,86713,Analysis for antibody to Legionella (waterborn...,N,13.0,12,12,11.971538,38.846154,11.735385,20.570000
30,1871840678,"SOUTHSIDE DIAGNOSTIC SERVICES, LLC",NaN,NaN,NaN,NaN,O,9150 MAIN ST STE H,NaN,HOUSTON,...,87541,Detection test for legionella pneumophila (wat...,N,30.0,30,30,48.140000,96.280000,47.180000,47.180000
31,1871953109,SENTRA LABORATORIES INC/,NaN,NaN,NaN,NaN,O,450 WAVERLY AVE STE 3,NaN,PATCHOGUE,...,87541,Detection test for legionella pneumophila (wat...,N,214.0,188,214,48.140000,48.140000,47.180000,47.180000
32,1881626943,LATARA ENTERPRISE INC.,NaN,NaN,NaN,NaN,O,1716 W HOLT AVE,NaN,POMONA,...,86713,Analysis for antibody to Legionella (waterborn...,N,26.0,15,16,11.220000,63.000000,10.996154,20.570000
33,1932145778,QUEST DIAGNOSTICS INCORPORATED,NaN,NaN,NaN,NaN,O,1 MALCOLM AVE,NaN,TETERBORO,...,86713,Analysis for antibody to Legionella (waterborn...,N,18.0,16,16,20.990000,190.943889,20.570000,20.570000
34,1932184322,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,6370 WILCOX RD,NaN,DUBLIN,...,86713,Analysis for antibody to Legionella (waterborn...,N,33.0,29,30,18.917576,132.515152,18.539091,20.570000

In [60]:
legion_testing.columns

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'Zip Code of the Provider', 'State Code of the Provider',
       'Country Code of the Provider', 'Provider Type',
       'Medicare Participation Indicator', 'Place of Service', 'HCPCS Code',
       'HCPCS Description', 'HCPCS Drug Indicator', 'Number of Services',
       'Number of Medicare Beneficiaries',
       'Number of Distinct Medicare Beneficiary/Per Day Services',
       'Average Medicare Allowed Amount', 'Average Submitted Charge Amount',
       'Average Medicare Payment Amount',
       'Average Medicare Standardized Amount'],
      dtype='object')

In [ ]:
legion_diagnosis.head(15)

# Medicare data diagnosis for legionnaires

87540
87541
87542

HCPCS_rows =[]
for chunk in pd.read_csv('../data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_PUF_CY2017.csv', 
                         chunksize = 1000):
    HCPCS_rows.append(chunk[chunk['HCPCS Code'] == '87540']) 
               
                
hcpcs_pay_87278 = pd.concat(HCPCS_rows, ignore_index=True)

print(hcpcs_pay_87278.shape)
hcpcs_pay_87278.head()

asc_provider = asc_provider.drop(columns= ['Middle Initial of the Provider',
                            'Credentials of the Provider',
                            'Street Address 2 of the Provider',
                           'Medicare Participation Indicator',
                           'HCPCS Drug Indicator',
                           'Average Submitted Charge Amount',
                           'Gender of the Provider',
                            'First Name of the Provider',
                            'Average Medicare Payment Amount',
                            'Average Medicare Standardized Amount',
                           ])
                           
asc_provider['Zip Code of the Provider'] = asc_provider['Zip Code of the Provider'].apply( lambda x: (5 - len(str(x)))*'0' + str(x) if len(str(x)) <= 5 else (9 - len(str(x)))*'0' + str(x)[:-4]  )

asc_provider.columns = asc_provider.columns.str.replace(' ','_')


asc_provider.columns = map(str.lower, asc_provider.columns)


df_name = df_name.drop(columns=['average_medicare_payment_amount',
                                'outlier_services',
                                'average_medicare_outlier_amount',
                               'average_total_submitted_charges'])

df_name = df_name.rename(columns={'national_provider_identifier':'npi',
                  'last_name/organization_name_of_the_provider':'name',
                  'entity_type_of_the_provider':'entity_type',
                 'street_address_1_of_the_provider':'address',
                 'city_of_the_provider':'city',
                 'zip_code_of_the_provider':'zip_code',
                 'state_code_of_the_provider':'state',
                 'country_code_of_the_provider':'country',
                'number_of_medicare_beneficiaries':'medicare_beneficiaries',
                'number_of_distinct_medicare_beneficiary/per_day_services':'medicare_beneficiary/per_day_services'})

# Medicare Data for 2017 - 2012 - pickle, then add year column to each one and then, merge them together.

In [88]:
my_list = ['87278', '86713', '87541', '87540', '87542']

HCPCS_rows =[]
for chunk in pd.read_csv('../data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_PUF_CY2017.csv', 
                         chunksize = 1000):
    HCPCS_rows.append(chunk[chunk['HCPCS Code'].isin(my_list)]) 
               
                
legion_testing_17 = pd.concat(HCPCS_rows, ignore_index=True)

print(legion_testing_17.shape)
legion_testing_17.head()

(35, 26)

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,1053721373,"TAUSTIN LABORATORIES, LLC",NaN,NaN,NaN,NaN,O,2868 ACTON RD,SUITE 207,VESTAVIA,...,87541,Detection test for legionella pneumophila (wat...,N,23.0,22,23,30.920000,75.000000,28.982609,45.128696
1,1063497451,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,69 1ST AVE,NaN,RARITAN,...,86713,Analysis for antibody to Legionella (waterborn...,N,43.0,42,42,20.081163,142.537209,19.679535,20.570000
2,1124442306,"TOTAL DIAGNOSTIX II, LLC",NaN,NaN,NaN,NaN,O,3740 BUSINESS DR STE 101,NaN,MEMPHIS,...,87541,Detection test for legionella pneumophila (wat...,N,88.0,88,88,48.140000,61.513636,47.180000,47.180000
3,1134277494,"BIO-REFERENCE LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,481 EDWARD H ROSS DR,NaN,ELMWOOD PARK,...,86713,Analysis for antibody to Legionella (waterborn...,N,75.0,39,43,20.990000,75.050533,20.570000,20.570000
4,1134377781,DIATHERIX LABORATORIES LLC,NaN,NaN,NaN,NaN,O,601 GENOME WAY,SUITE 2100,HUNTSVILLE,...,87541,Detection test for legionella pneumophila (wat...,N,3235.0,2876,3235,30.000000,30.000000,29.229713,47.158015

In [134]:
legion_testing_17['year'] = '2017'
legion_testing_17.head(2)

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount,year
0,1053721373,"TAUSTIN LABORATORIES, LLC",NaN,NaN,NaN,NaN,O,2868 ACTON RD,SUITE 207,VESTAVIA,...,Detection test for legionella pneumophila (wat...,N,23.0,22,23,30.920000,75.000000,28.982609,45.128696,2017
1,1063497451,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,69 1ST AVE,NaN,RARITAN,...,Analysis for antibody to Legionella (waterborn...,N,43.0,42,42,20.081163,142.537209,19.679535,20.570000,2017

In [67]:
my_list = ['87278', '86713', '87541', '87540', '87542']

HCPCS_rows =[]
for chunk in pd.read_csv('../data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_PUF_CY2016.csv', 
                         chunksize = 1000):
    HCPCS_rows.append(chunk[chunk['HCPCS Code'].isin(my_list)]) 
               
                
legion_testing_16 = pd.concat(HCPCS_rows, ignore_index=True)

print(legion_testing_16.shape)
legion_testing_16.head(35)

(28, 26)

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,1366543795,NORTHWELL HEALTH LABORATORIES,NaN,NaN,NaN,NaN,O,10 NEVADA DR,NaN,NEW HYDE PARK,...,86713,Analysis for antibody to Legionella (waterborn...,N,15.0,15,15,20.850000,91.000000,20.430000,20.430000
1,1124085576,QUEST DIAGNOSTICS INCORPORATED MI,NaN,NaN,NaN,NaN,O,1947 TECHNOLOGY DR,SUITE 100,TROY,...,86713,Analysis for antibody to Legionella (waterborn...,N,30.0,15,15,20.850000,94.209000,20.430000,20.430000
2,1740262880,LABORATORY CORPORATION OF AMERICA,NaN,NaN,NaN,NaN,O,5005 S 40TH ST,STE 1200,PHOENIX,...,86713,Analysis for antibody to Legionella (waterborn...,N,124.0,81,85,14.742097,103.100484,14.447903,20.430000
3,1538144910,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,1447 YORK CT,NaN,BURLINGTON,...,86713,Analysis for antibody to Legionella (waterborn...,N,293.0,261,278,19.656962,140.397816,19.261502,20.430034
4,1932145778,QUEST DIAGNOSTICS INCORPORATED,NaN,NaN,NaN,NaN,O,1 MALCOLM AVE,NaN,TETERBORO,...,86713,Analysis for antibody to Legionella (waterborn...,N,42.0,23,23,20.850000,109.900476,20.434524,20.434524
5,1225074065,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,50 REPUBLIC RD,NaN,MELVILLE,...,86713,Analysis for antibody to Legionella (waterborn...,N,30.0,20,20,20.850000,102.426667,20.433333,20.433333
6,1891731626,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,4225 E FOWLER AVE,NaN,TAMPA,...,86713,Analysis for antibody to Legionella (waterborn...,N,28.0,14,14,20.850000,96.801429,20.430000,20.430000
7,1538144910,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,1447 YORK CT,NaN,BURLINGTON,...,87278,Detection test for legionella pneumophila (wat...,N,11.0,11,11,15.600000,208.430909,15.290000,16.000000
8,1588093165,SHIEL HOLDINGS LLC,NaN,NaN,NaN,NaN,O,63 FLUSHING AVENUE,"UNIT 336, 2ND FLOOR",BROOKLYN,...,86713,Analysis for antibody to Legionella (waterborn...,N,31.0,24,24,11.140000,99.000000,10.917742,20.432258
9,1366479099,UNILAB CORPORATION,NaN,NaN,NaN,NaN,O,8401 FALLBROOK AVE,NaN,WEST HILLS,...,86713,Analysis for antibody to Legionella (waterborn...,N,70.0,34,36,19.055000,44.099714,18.673714,20.433143
10,1124442306,"TOTAL DIAGNOSTIX II, LLC",NaN,NaN,NaN,NaN,O,3740 BUSINESS DR,NaN,MEMPHIS,...,87541,Detection test for legionella pneumophila (wat...,N,472.0,461,472,47.788983,58.050847,46.828983,46.840000
11,1811997711,SPECIALTY LABORATORIES INC,NaN,NaN,NaN,NaN,O,27027 TOURNEY RD,NaN,VALENCIA,...,87278,Detection test for legionella pneumophila (wat...,N,33.0,22,33,12.640000,114.800000,12.390000,16.000000
12,1366543795,NORTHWELL HEALTH LABORATORIES,NaN,NaN,NaN,NaN,O,10 NEVADA DR,NaN,NEW HYDE PARK,...,87278,Detection test for legionella pneumophila (wat...,N,16.0,16,16,14.990000,100.000000,14.690000,16.000000
13,1932184322,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,6370 WILCOX RD,NaN,DUBLIN,...,86713,Analysis for antibody to Legionella (waterborn...,N,26.0,22,23,18.235769,130.538462,17.868462,20.431154
14,1457341851,"PHYSICIAN'S AUTOMATED LABORATORY, INC",NaN,NaN,NaN,NaN,O,820 34TH ST,SUITE 103,BAKERSFIELD,...,86713,Analysis for antibody to Legionella (waterborn...,N,130.0,64,66,11.140000,16.920000,10.915077,20.434923
15,1811997711,SPECIALTY LABORATORIES INC,NaN,NaN,NaN,NaN,O,27027 TOURNEY RD,NaN,VALENCIA,...,86713,Analysis for antibody to Legionella (waterborn...,N,51.0,20,20,20.850000,86.036667,20.432941,20.432941
16,1245307818,QUEST DIAGNOSTICS INCORPORATED MD,NaN,NaN,NaN,NaN,O,1901 SULPHUR SPRING RD,NaN,BALTIMORE,...,86713,Analysis for antibody to Legionella (waterborn...,N,216.0,72,108,20.850000,63.076759,20.435000,20.435000
17,1538105366,"SONORA QUEST LABORATORIES, LLC.",NaN,NaN,NaN,NaN,O,1255 W WASHINGTON ST,NaN,TEMPE,...,86713,Analysis for antibody to Legionella (waterborn...,N,258.0,128,129,20.850000,85.999612,20.145698,20.435000
18,1063497451,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,69 1ST AVE,NaN,RARITAN,...,86713,Analysis for antibody to Legionella (waterborn...,N,52.0,46,47,18.609231,134.658846,18.234423,20.430962
19,1457515744,"FRY LABORATORIES, L.L.C.",NaN,NaN,NaN,NaN,O,15720 N GREENWAY HAYDEN LOOP,STE. 3,SCOTTSDALE,...,87541,Detection test for legionella pneumophila (wat...,N,19.0,19,19,47.389474,161.754211,46.437895,46.840000
20,1659352276,LABORATORY CORPORATION OF AMERICA,NaN,NaN,NaN,NaN,O,13112 EVENING CREEK DR S,SUITE 200,SAN DIEGO,...,86713,Analysis for antibody to Legionella (waterborn...,N,18.0,14,15,17.613333,104.216667,17.260000,20.430000
21,1194769497,"CLINICAL PATHOLOGY LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,9200 WALL ST,NaN,AUSTIN,...,86713,Analysis for antibody to Legionella (waterborn...,N,27.0,16,16,11.140000,94.805556,10.915926,20.434074
22,1134277494,"BIO-REFERENCE LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,481 EDWARD H ROSS DR,NaN,ELMWOOD PARK,...,86713,Analysis for antibody to Legionella (waterborn...,N,58.0,27,29,20.850000,74.901724,20.435000,20.435000
23,1497773337,"REGIONAL MEDICAL LABORATORY, INC",NaN,NaN,NaN,NaN,O,1923 S UTICA AVE,NaN,TULSA,...,86713,Analysis for antibody to Legionella (waterborn...,N,19.0,19,19,20.850000,68.200000,20.430000,20.430000
24,1134377781,DIATHERIX LABORATORIES LLC,NaN,NaN,NaN,NaN,O,601 GENOME WAY,SUITE 2100,HUNTSVILLE,...,87541,Detection test for legionella pneumophila (wat...,N,2974.0,2668,2974,29.902488,29.902488,29.213104,46.840000
25,1235234402,"ENZO CLINICAL LABS, INC.",NaN,NaN,NaN,NaN,O,60 EXECUTIVE BLVD,NaN,FARMINGDALE,...,86713,Analysis for antibody to Legionella (waterborn...,N,20.0,20,20,20.850000,273.000000,20.430000,20.430000
26,1881630614,QUEST DIAGNOSTICS LLC IL,NaN,NaN,NaN,NaN,O,1355 MITTEL BLVD,NaN,WOOD DALE,...,86713,Analysis for antibody to Legionella (waterborn...,N,58.0,27,29,20.850000,95.909655,20.431379,20.431379
27,1861404121,"EAST SIDE CLINICAL LABORATORY, INC.",NaN,NaN,NaN,NaN,O,10 RISHO AVENUE,NaN,EAST PROVIDENCE,...,86713,Analysis for antibody to Legionella (waterborn...,N,13.0,13,13,11.140000,40.230769,10.920000,20.430000

In [135]:
legion_testing_16['year'] = '2016'
legion_testing_16.head(2)

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Description,Identifies HCPCS As Drug Included in the ASP Drug List,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount,year
0,1932145778,QUEST DIAGNOSTICS INCORPORATED,NaN,NaN,NaN,NaN,O,1 MALCOLM AVE,NaN,TETERBORO,...,Analysis for antibody to Legionella (waterborn...,N,74.0,46.0,47.0,20.880,104.406216,20.46000,12.994865,2016
1,1366479099,UNILAB CORPORATION,NaN,NaN,NaN,NaN,O,8401 FALLBROOK AVE,NaN,WEST HILLS,...,Analysis for antibody to Legionella (waterborn...,N,40.0,25.0,25.0,19.364,51.485500,18.97475,13.299000,2016

In [70]:
my_list = ['87278', '86713', '87541', '87540', '87542']

HCPCS_rows =[]
for chunk in pd.read_csv('../data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_PUF_CY2015.csv', 
                         chunksize = 1000):
    HCPCS_rows.append(chunk[chunk['HCPCS Code'].isin(my_list)]) 
               
                
legion_testing_15 = pd.concat(HCPCS_rows, ignore_index=True)

print(legion_testing_15.shape)
legion_testing_15.head(35)

(29, 26)

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,1245307818,QUEST DIAGNOSTICS INCORPORATED MD,NaN,NaN,NaN,NaN,O,1901 SULPHUR SPRING RD,NaN,BALTIMORE,...,86713,Analysis for antibody to Legionella (waterborn...,N,22.0,11.0,11.0,20.820000,72.504091,20.405000,17.621818
1,1457341851,"PHYSICIAN'S AUTOMATED LABORATORY, INC",NaN,NaN,NaN,NaN,O,820 34TH ST,SUITE 103,BAKERSFIELD,...,86713,Analysis for antibody to Legionella (waterborn...,N,67.0,34.0,35.0,11.130000,16.920000,10.607015,16.140000
2,1225074065,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,575 UNDERHILL BLVD,NaN,SYOSSET,...,86713,Analysis for antibody to Legionella (waterborn...,N,31.0,20.0,21.0,20.820000,101.751613,20.403226,17.111290
3,1588093165,SHIEL HOLDINGS LLC,NaN,NaN,NaN,NaN,O,63 FLUSHING AVENUE,"UNIT 336, 2ND FLOOR",BROOKLYN,...,86713,Analysis for antibody to Legionella (waterborn...,N,58.0,46.0,48.0,11.130000,99.000000,10.908276,18.994138
4,1396746673,"LABORATORY ALLIANCE OF CENTRAL NEW YORK, LLC",NaN,NaN,NaN,NaN,O,113 INNOVATION LN,NaN,LIVERPOOL,...,87278,Detection test for legionella pneumophila (wat...,N,11.0,11.0,11.0,15.580000,40.940000,15.270000,15.990000
5,1366543795,NORTHWELL HEALTH LABORATORIES,NaN,NaN,NaN,NaN,O,10 NEVADA DR,NaN,NEW HYDE PARK,...,87278,Detection test for legionella pneumophila (wat...,N,25.0,25.0,25.0,14.980000,100.000000,14.680000,15.990000
6,1235234402,"ENZO CLINICAL LABS, INC.",NaN,NaN,NaN,NaN,O,60 EXECUTIVE BLVD,NaN,FARMINGDALE,...,86713,Analysis for antibody to Legionella (waterborn...,N,30.0,29.0,30.0,20.820000,273.000000,20.400000,20.400000
7,1063497451,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,69 1ST AVE,NaN,RARITAN,...,86713,Analysis for antibody to Legionella (waterborn...,N,62.0,55.0,57.0,18.944516,133.952903,18.562419,20.071613
8,1083613376,WEVER,KURT,A,MD,M,I,720 W US HIGHWAY 24,NaN,WOODLAND PARK,...,87541,Detection test for legionella pneumophila (wat...,N,16.0,15.0,16.0,29.143750,29.143750,28.561250,46.800000
9,1447296272,"QUEST DIAGNOSTICS NICHOLS INSTITUTE, INC.",NaN,NaN,NaN,NaN,O,14225 NEWBROOK DR,NaN,CHANTILLY,...,87278,Detection test for legionella pneumophila (wat...,N,15.0,14.0,15.0,14.980000,148.350000,14.680000,15.990000
10,1134277494,"BIO-REFERENCE LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,481 EDWARD H ROSS DR,NaN,ELMWOOD PARK,...,86713,Analysis for antibody to Legionella (waterborn...,N,80.0,39.0,39.0,20.820000,73.077500,20.404875,17.853625
11,1346233277,"SOLSTAS LAB PARTNERS GROUP, LLC",NaN,NaN,NaN,NaN,O,4380 FEDERAL DR,STE 100,GREENSBORO,...,86713,Analysis for antibody to Legionella (waterborn...,N,38.0,16.0,19.0,20.769474,84.750000,19.428684,18.793684
12,1811997711,SPECIALTY LABORATORIES INC,NaN,NaN,NaN,NaN,O,27027 TOURNEY RD,NaN,VALENCIA,...,86713,Analysis for antibody to Legionella (waterborn...,N,83.0,21.0,23.0,20.820000,88.113614,20.402289,18.681205
13,1891731626,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,4225 E FOWLER AVE,NaN,TAMPA,...,86713,Analysis for antibody to Legionella (waterborn...,N,93.0,34.0,36.0,18.880323,42.692688,18.500968,20.400000
14,1740262880,LABORATORY CORPORATION OF AMERICA,NaN,NaN,NaN,NaN,O,5005 S 40TH ST,STE 1200,PHOENIX,...,86713,Analysis for antibody to Legionella (waterborn...,N,164.0,96.0,105.0,17.097622,95.378049,16.755854,16.668476
15,1932145778,QUEST DIAGNOSTICS INCORPORATED,NaN,NaN,NaN,NaN,O,1 MALCOLM AVE,NaN,TETERBORO,...,86713,Analysis for antibody to Legionella (waterborn...,N,102.0,58.0,60.0,20.820000,106.119608,20.403922,19.203333
16,1134377781,DIATHERIX LABORATORIES LLC,NaN,NaN,NaN,NaN,O,601 GENOME WAY,SUITE 2100,HUNTSVILLE,...,87541,Detection test for legionella pneumophila (wat...,N,3098.0,2785.0,3098.0,29.770820,29.770820,29.063192,46.800000
17,1366543795,NORTHWELL HEALTH LABORATORIES,NaN,NaN,NaN,NaN,O,10 NEVADA DR,NaN,NEW HYDE PARK,...,86713,Analysis for antibody to Legionella (waterborn...,N,20.0,19.0,20.0,20.820000,91.000000,20.400000,20.400000
18,1538144910,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,1447 YORK CT,NaN,BURLINGTON,...,86713,Analysis for antibody to Legionella (waterborn...,N,301.0,260.0,276.0,19.144585,135.854884,18.759169,20.400000
19,1265418669,LABORATORY CORPORATION OF AMERICA,NaN,NaN,NaN,NaN,O,7777 FOREST LN STE C350,NaN,DALLAS,...,86713,Analysis for antibody to Legionella (waterborn...,N,12.0,12.0,12.0,20.820000,145.865000,20.400000,20.400000
20,1497773337,"REGIONAL MEDICAL LABORATORY, INC",NaN,NaN,NaN,NaN,O,1923 S UTICA AVE,NaN,TULSA,...,86713,Analysis for antibody to Legionella (waterborn...,N,22.0,22.0,22.0,20.820000,76.968182,19.721818,20.400000
21,1538105366,"SONORA QUEST LABORATORIES, LLC.",NaN,NaN,NaN,NaN,O,1255 W WASHINGTON ST,NaN,TEMPE,...,86713,Analysis for antibody to Legionella (waterborn...,N,152.0,74.0,76.0,20.820000,85.432500,20.405000,17.585197
22,1255314704,LABORATORY CORPORATION OF AMERICA,NaN,NaN,NaN,NaN,O,5610 W LASALLE STREET,NaN,TAMPA,...,86713,Analysis for antibody to Legionella (waterborn...,N,13.0,11.0,12.0,17.093077,124.533077,16.750000,20.400000
23,1194769497,"CLINICAL PATHOLOGY LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,9200 WALL ST,NaN,AUSTIN,...,86713,Analysis for antibody to Legionella (waterborn...,N,103.0,47.0,53.0,11.130000,85.633495,10.905146,16.243592
24,1043256886,QUEST DIAGNOSTICS INCORPORATED,NaN,NaN,NaN,NaN,O,4230 SOUTH BURNHAM AVE,NaN,LAS VEGAS,...,86713,Analysis for antibody to Legionella (waterborn...,N,20.0,14.0,14.0,20.820000,111.724000,20.402500,19.382000
25,1932184322,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,6370 WILCOX RD,NaN,DUBLIN,...,86713,Analysis for antibody to Legionella (waterborn...,N,22.0,19.0,19.0,18.177273,128.090909,17.810455,18.545909
26,1366479099,UNILAB CORPORATION,NaN,NaN,NaN,NaN,O,8401 FALLBROOK AVE,NaN,WEST HILLS,...,86713,Analysis for antibody to Legionella (waterborn...,N,85.0,38.0,38.0,18.609647,33.739765,18.236706,17.281765
27,1881630614,QUEST DIAGNOSTICS LLC IL,NaN,NaN,NaN,NaN,O,1355 MITTEL BLVD,NaN,WOOD DALE,...,86713,Analysis for antibody to Legionella (waterborn...,N,112.0,36.0,37.0,19.371964,45.780268,18.984375,20.219286
28,1881626943,LATARA ENTERPRISE INC.,NaN,NaN,NaN,NaN,O,1716 W HOLT AVE,NaN,POMONA,...,86713,Analysis for antibody to Legionella (waterborn...,N,26.0,15.0,16.0,11.130000,57.923077,10.906154,20.403846

In [136]:
legion_testing_15['year'] = '2015'
legion_testing_15.head(2)

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount,year
0,1245307818,QUEST DIAGNOSTICS INCORPORATED MD,NaN,NaN,NaN,NaN,O,1901 SULPHUR SPRING RD,NaN,BALTIMORE,...,Analysis for antibody to Legionella (waterborn...,N,22.0,11.0,11.0,20.82,72.504091,20.405000,17.621818,2015
1,1457341851,"PHYSICIAN'S AUTOMATED LABORATORY, INC",NaN,NaN,NaN,NaN,O,820 34TH ST,SUITE 103,BAKERSFIELD,...,Analysis for antibody to Legionella (waterborn...,N,67.0,34.0,35.0,11.13,16.920000,10.607015,16.140000,2015

In [72]:
my_list = ['87278', '86713', '87541', '87540', '87542']

HCPCS_rows =[]
for chunk in pd.read_csv('../data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_PUF_CY2014.csv', 
                         chunksize = 1000):
    HCPCS_rows.append(chunk[chunk['HCPCS Code'].isin(my_list)]) 
               
                
legion_testing_14 = pd.concat(HCPCS_rows, ignore_index=True)

print(legion_testing_14.shape)
legion_testing_14.head(35)

(27, 26)

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Code,HCPCS Description,Identifies HCPCS As Drug Included in the ASP Drug List,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,1932145778,QUEST DIAGNOSTICS INCORPORATED,NaN,NaN,NaN,NaN,O,1 MALCOLM AVE,NaN,TETERBORO,...,86713,Analysis for antibody to Legionella (waterborn...,N,74.0,46.0,47.0,20.880000,104.406216,20.460000,12.994865
1,1366479099,UNILAB CORPORATION,NaN,NaN,NaN,NaN,O,8401 FALLBROOK AVE,NaN,WEST HILLS,...,86713,Analysis for antibody to Legionella (waterborn...,N,40.0,25.0,25.0,19.364000,51.485500,18.974750,13.299000
2,1124085576,QUEST DIAGNOSTICS INCORPORATED MI,NaN,NaN,NaN,NaN,O,4444 GIDDINGS RD,NaN,AUBURN HILLS,...,86713,Analysis for antibody to Legionella (waterborn...,N,53.0,19.0,19.0,19.612075,32.643774,19.219245,20.460000
3,1538105366,"SONORA QUEST LABORATORIES, LLC.",NaN,NaN,NaN,NaN,O,1255 W WASHINGTON ST,NaN,TEMPE,...,86713,Analysis for antibody to Legionella (waterborn...,N,172.0,86.0,86.0,20.880000,81.943779,20.263721,10.230000
4,1225074065,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,575 UNDERHILL BLVD,NaN,SYOSSET,...,86713,Analysis for antibody to Legionella (waterborn...,N,46.0,26.0,27.0,20.880000,107.430870,20.460000,12.009130
5,1245307818,QUEST DIAGNOSTICS INCORPORATED MD,NaN,NaN,NaN,NaN,O,1901 SULPHUR SPRING RD,NaN,BALTIMORE,...,86713,Analysis for antibody to Legionella (waterborn...,N,26.0,12.0,13.0,20.880000,70.948077,20.460000,10.230000
6,1396746673,"LABORATORY ALLIANCE OF CENTRAL NEW YORK, LLC",NaN,NaN,NaN,NaN,O,113 INNOVATION LN,NaN,LIVERPOOL,...,87278,Detection test for legionella pneumophila (wat...,N,13.0,11.0,13.0,15.620000,40.940000,15.310000,16.030000
7,1063497451,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,69 1ST AVE,NaN,RARITAN,...,86713,Analysis for antibody to Legionella (waterborn...,N,59.0,53.0,53.0,18.573559,131.801186,18.200000,18.379322
8,1811997711,SPECIALTY LABORATORIES INC,NaN,NaN,NaN,NaN,O,27027 TOURNEY RD,NaN,VALENCIA,...,86713,Analysis for antibody to Legionella (waterborn...,N,42.0,24.0,25.0,20.880000,149.738571,20.460714,12.178571
9,1538144910,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,1447 YORK CT,NaN,BURLINGTON,...,86713,Analysis for antibody to Legionella (waterborn...,N,209.0,182.0,191.0,19.252249,135.002010,18.865742,20.362105
10,1235234402,"ENZO CLINICAL LABS, INC.",NaN,NaN,NaN,NaN,O,60 EXECUTIVE BLVD,NaN,FARMINGDALE,...,86713,Analysis for antibody to Legionella (waterborn...,N,30.0,15.0,16.0,20.880000,145.600000,20.462333,10.912000
11,1366543795,NORTH SHORE LIJ HEALTH SYSTEMS LABORATORIES,NaN,NaN,NaN,NaN,O,10 NEVADA DR,NaN,NEW HYDE PARK,...,87278,Detection test for legionella pneumophila (wat...,N,15.0,15.0,15.0,15.020000,100.000000,14.720000,16.030000
12,1891731626,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,4225 E FOWLER AVE,NaN,TAMPA,...,86713,Analysis for antibody to Legionella (waterborn...,N,71.0,25.0,26.0,18.698169,39.956620,18.322958,20.460000
13,1740262880,LABORATORY CORPORATION OF AMERICA,NaN,NaN,NaN,NaN,O,5005 S 40TH ST,STE 1200,PHOENIX,...,86713,Analysis for antibody to Legionella (waterborn...,N,152.0,99.0,103.0,20.880000,102.388158,20.460000,13.864342
14,1457341851,"PHYSICIAN'S AUTOMATED LABORATORY, INC",NaN,NaN,NaN,NaN,O,2801 H ST,NaN,BAKERSFIELD,...,86713,Analysis for antibody to Legionella (waterborn...,N,35.0,33.0,33.0,19.769143,41.590857,19.371714,19.290857
15,1932166386,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,1777 MONTREAL CIR,NaN,TUCKER,...,86713,Analysis for antibody to Legionella (waterborn...,N,24.0,11.0,12.0,20.880000,105.994583,20.460000,10.230000
16,1134277494,"BIO-REFERENCE LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,481 EDWARD H ROSS DR,NaN,ELMWOOD PARK,...,86713,Analysis for antibody to Legionella (waterborn...,N,76.0,26.0,26.0,20.880000,89.119737,20.463158,6.999474
17,1750374088,"SHIEL MEDICAL LABORATORY, INC",NaN,NaN,NaN,NaN,O,63 FLUSHING AVE,UNIT 336,BROOKLYN,...,86713,Analysis for antibody to Legionella (waterborn...,N,21.0,17.0,17.0,11.160000,99.000000,10.938095,16.562857
18,1194769497,"CLINICAL PATHOLOGY LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,9200 WALL ST,NaN,AUSTIN,...,86713,Analysis for antibody to Legionella (waterborn...,N,105.0,45.0,53.0,11.160000,83.014286,10.935048,10.340857
19,1932184322,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,6370 WILCOX RD,NaN,DUBLIN,...,86713,Analysis for antibody to Legionella (waterborn...,N,19.0,17.0,17.0,17.810526,125.099474,17.452632,18.306316
20,1497773337,"REGIONAL MEDICAL LABORATORY, INC",NaN,NaN,NaN,NaN,O,1923 S UTICA AVE,NaN,TULSA,...,86713,Analysis for antibody to Legionella (waterborn...,N,25.0,25.0,25.0,20.880000,71.420000,20.460000,20.460000
21,1255314704,LABORATORY CORPORATION OF AMERICA,NaN,NaN,NaN,NaN,O,5610 W LASALLE STREET,NaN,TAMPA,...,86713,Analysis for antibody to Legionella (waterborn...,N,13.0,12.0,12.0,18.636923,135.538462,18.263077,20.460000
22,1205872041,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,900 BUSINESS CENTER DR,NaN,HORSHAM,...,86713,Analysis for antibody to Legionella (waterborn...,N,49.0,12.0,13.0,18.775102,44.175102,18.397959,14.196735
23,1134377781,DIATHERIX LABORATORIES LLC,NaN,NaN,NaN,NaN,O,601 GENOME WAY,SUITE 2100,HUNTSVILLE,...,87541,Detection test for legionella pneumophila (wat...,N,2922.0,2583.0,2922.0,20.037645,20.037645,19.565791,46.496078
24,1669515391,"ACCURATE DIAGNOSTICS LABS, INC.",NaN,NaN,NaN,NaN,O,180 STATE ROUTE 27,NaN,EDISON,...,86713,Analysis for antibody to Legionella (waterborn...,N,91.0,28.0,31.0,20.880000,396.000000,20.463187,6.969890
25,1881630614,QUEST DIAGNOSTICS LLC IL,NaN,NaN,NaN,NaN,O,1355 MITTEL BLVD,NaN,WOOD DALE,...,86713,Analysis for antibody to Legionella (waterborn...,N,46.0,21.0,21.0,20.403478,71.357826,19.993478,20.460000
26,1619913449,UNILAB CORPORATION,NaN,NaN,NaN,NaN,O,3714 NORTHGATE BLVD,NaN,SACRAMENTO,...,86713,Analysis for antibody to Legionella (waterborn...,N,29.0,15.0,15.0,20.880000,69.029655,20.460000,10.582759

In [137]:
legion_testing_14['year'] = '2014'
legion_testing_14.head(2)

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Description,Identifies HCPCS As Drug Included in the ASP Drug List,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount,year
0,1932145778,QUEST DIAGNOSTICS INCORPORATED,NaN,NaN,NaN,NaN,O,1 MALCOLM AVE,NaN,TETERBORO,...,Analysis for antibody to Legionella (waterborn...,N,74.0,46.0,47.0,20.880,104.406216,20.46000,12.994865,2014
1,1366479099,UNILAB CORPORATION,NaN,NaN,NaN,NaN,O,8401 FALLBROOK AVE,NaN,WEST HILLS,...,Analysis for antibody to Legionella (waterborn...,N,40.0,25.0,25.0,19.364,51.485500,18.97475,13.299000,2014

In [80]:
test = pd.read_csv('../data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_CY2013.csv')
test.head(3)

/opt/anaconda3/envs/geo/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,National Provider Identifier,Last Name/Organization Name,First Name,Middle Initial,Credentials,Gender,Entity Code,Street Address 1,Street Address 2,City,...,HCPCS_DRUG_INDICATOR,LINE_SRVC_CNT,BENE_UNIQUE_CNT,BENE_DAY_SRVC_CNT,AVERAGE_MEDICARE_ALLOWED_AMT,STDEV_MEDICARE_ALLOWED_AMT,AVERAGE_SUBMITTED_CHRG_AMT,STDEV_SUBMITTED_CHRG_AMT,AVERAGE_MEDICARE_PAYMENT_AMT,STDEV_MEDICARE_PAYMENT_AMT
0,1104813138,SERSHON,PETER,D,M.D.,M,I,360 SHERMAN ST,SUITE 450,SAINT PAUL,...,N,23.0,23.0,23.0,211.82,0.0,509.0,0.0,149.303478,36.891437
1,1184755308,DAVIS,AMY,B,MD,F,I,121 PRATT DR STE 1A,NaN,CORINTH,...,N,45.0,39.0,45.0,3.09,0.0,20.0,0.0,3.040667,0.022940
2,1972533834,SCHMIDT,MARY,S,M.D.,F,I,3003 W GOOD HOPE RD,NaN,MILWAUKEE,...,N,25.0,21.0,22.0,28.68,0.0,169.0,0.0,21.728000,4.440295

In [81]:
test.columns
## Will need to change HCPC before merge 2013

Index(['National Provider Identifier ', 'Last Name/Organization Name',
       'First Name', 'Middle Initial', 'Credentials', 'Gender', 'Entity Code',
       'Street Address 1', 'Street Address 2', 'City', 'Zip Code',
       'State Code', 'Country Code', 'Provider Type', 'Medicare Participation',
       'Place of Service', 'HCPCS_CODE', 'HCPCS_DESCRIPTION',
       'HCPCS_DRUG_INDICATOR', 'LINE_SRVC_CNT', 'BENE_UNIQUE_CNT',
       'BENE_DAY_SRVC_CNT', 'AVERAGE_MEDICARE_ALLOWED_AMT',
       'STDEV_MEDICARE_ALLOWED_AMT', 'AVERAGE_SUBMITTED_CHRG_AMT',
       'STDEV_SUBMITTED_CHRG_AMT', 'AVERAGE_MEDICARE_PAYMENT_AMT',
       'STDEV_MEDICARE_PAYMENT_AMT'],
      dtype='object')

In [99]:
my_list = ['87278', '86713', '87541', '87540', '87542']

HCPCS_rows =[]
for chunk in pd.read_csv('../data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_CY2013.csv', 
                         chunksize = 1000):
    HCPCS_rows.append(chunk[chunk['HCPCS_CODE'].isin(my_list)]) 
               
legion_testing_13 = pd.concat(HCPCS_rows, ignore_index=True)

print(legion_testing_13.shape)
legion_testing_13.head()

(28, 28)

,National Provider Identifier,Last Name/Organization Name,First Name,Middle Initial,Credentials,Gender,Entity Code,Street Address 1,Street Address 2,City,...,HCPCS_DRUG_INDICATOR,LINE_SRVC_CNT,BENE_UNIQUE_CNT,BENE_DAY_SRVC_CNT,AVERAGE_MEDICARE_ALLOWED_AMT,STDEV_MEDICARE_ALLOWED_AMT,AVERAGE_SUBMITTED_CHRG_AMT,STDEV_SUBMITTED_CHRG_AMT,AVERAGE_MEDICARE_PAYMENT_AMT,STDEV_MEDICARE_PAYMENT_AMT
0,1497773337,"REGIONAL MEDICAL LABORATORY, INC",NaN,NaN,NaN,NaN,O,1923 S UTICA AVE,NaN,TULSA,...,N,22.0,22.0,22.0,21.040000,0.000000,84.240909,36.467425,20.734545,0.187052
1,1669515391,"ACCURATE DIAGNOSTICS LABS, INC.",NaN,NaN,NaN,NaN,O,180 STATE ROUTE 27,NaN,EDISON,...,N,49.3,17.0,18.0,21.039959,0.000858,417.687627,458.708355,20.707708,0.282450
2,1063497451,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,69 1ST AVE,NaN,RARITAN,...,N,87.0,79.0,80.0,19.237701,3.959229,135.294368,28.406270,18.921609,3.903044
3,1235234402,"ENZO CLINICAL LABS, INC.",NaN,NaN,NaN,NaN,O,60 EXECUTIVE BLVD,NaN,FARMINGDALE,...,N,48.0,16.0,16.0,21.040000,0.000000,91.000000,0.000000,20.882500,0.352181
4,1932145778,QUEST DIAGNOSTICS INCORPORATED,NaN,NaN,NaN,NaN,O,1 MALCOLM AVE,NaN,TETERBORO,...,N,84.0,48.0,49.0,21.040000,0.000000,104.932976,14.241434,20.715000,0.227750

In [138]:
legion_testing_13['year'] = '2013'
legion_testing_13.head(2)

,National Provider Identifier,Last Name/Organization Name,First Name,Middle Initial,Credentials,Gender,Entity Code,Street Address 1,Street Address 2,City,...,Number of Services,Number of Medicare Beneficiaries,Number of Medicare Beneficiary/Day Services,Average Medicare Allowed Amount,Standard Deviation of Medicare Allowed Amount,Average Submitted Charge Amount,Standard Deviation of Submitted Charge Amount,Average Medicare Payment Amount,Standard Deviation of Medicare Payment Amount,year
0,1497773337,"REGIONAL MEDICAL LABORATORY, INC",NaN,NaN,NaN,NaN,O,1923 S UTICA AVE,NaN,TULSA,...,22.0,22.0,22.0,21.040000,0.000000,84.240909,36.467425,20.734545,0.187052,2013
1,1669515391,"ACCURATE DIAGNOSTICS LABS, INC.",NaN,NaN,NaN,NaN,O,180 STATE ROUTE 27,NaN,EDISON,...,49.3,17.0,18.0,21.039959,0.000858,417.687627,458.708355,20.707708,0.282450,2013

# FIX Columns for year 2013 before merge.

In [139]:
legion_testing_13 = legion_testing_13.rename(columns={'national_provider_identifier':'npi', 'HCPCS_CODE':'HCPCS Code', 'HCPCS_DESCRIPTION':'HCPCS Description',
       'HCPCS_DRUG_INDICATOR':'HCPCS Drug Indicator', 'LINE_SRVC_CNT':'Number of Services', 'BENE_UNIQUE_CNT':'Number of Medicare Beneficiaries',
       'BENE_DAY_SRVC_CNT':'Number of Medicare Beneficiary/Day Services', 'AVERAGE_MEDICARE_ALLOWED_AMT':'Average Medicare Allowed Amount',
       'STDEV_MEDICARE_ALLOWED_AMT':'Standard Deviation of Medicare Allowed Amount', 'AVERAGE_SUBMITTED_CHRG_AMT':'Average Submitted Charge Amount',
       'STDEV_SUBMITTED_CHRG_AMT':'Standard Deviation of Submitted Charge Amount', 'AVERAGE_MEDICARE_PAYMENT_AMT':'Average Medicare Payment Amount',
       'STDEV_MEDICARE_PAYMENT_AMT': 'Standard Deviation of Medicare Payment Amount'})
legion_testing_13.head()

,National Provider Identifier,Last Name/Organization Name,First Name,Middle Initial,Credentials,Gender,Entity Code,Street Address 1,Street Address 2,City,...,Number of Services,Number of Medicare Beneficiaries,Number of Medicare Beneficiary/Day Services,Average Medicare Allowed Amount,Standard Deviation of Medicare Allowed Amount,Average Submitted Charge Amount,Standard Deviation of Submitted Charge Amount,Average Medicare Payment Amount,Standard Deviation of Medicare Payment Amount,year
0,1497773337,"REGIONAL MEDICAL LABORATORY, INC",NaN,NaN,NaN,NaN,O,1923 S UTICA AVE,NaN,TULSA,...,22.0,22.0,22.0,21.040000,0.000000,84.240909,36.467425,20.734545,0.187052,2013
1,1669515391,"ACCURATE DIAGNOSTICS LABS, INC.",NaN,NaN,NaN,NaN,O,180 STATE ROUTE 27,NaN,EDISON,...,49.3,17.0,18.0,21.039959,0.000858,417.687627,458.708355,20.707708,0.282450,2013
2,1063497451,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,69 1ST AVE,NaN,RARITAN,...,87.0,79.0,80.0,19.237701,3.959229,135.294368,28.406270,18.921609,3.903044,2013
3,1235234402,"ENZO CLINICAL LABS, INC.",NaN,NaN,NaN,NaN,O,60 EXECUTIVE BLVD,NaN,FARMINGDALE,...,48.0,16.0,16.0,21.040000,0.000000,91.000000,0.000000,20.882500,0.352181,2013
4,1932145778,QUEST DIAGNOSTICS INCORPORATED,NaN,NaN,NaN,NaN,O,1 MALCOLM AVE,NaN,TETERBORO,...,84.0,48.0,49.0,21.040000,0.000000,104.932976,14.241434,20.715000,0.227750,2013

In [ ]:

legion_testing_13 = legion_testing_13.rename(columns={'national_provider_identifier':'npi', 'HCPCS_CODE':'HCPCS Code', 'HCPCS_DESCRIPTION':'HCPCS Description',
       'HCPCS_DRUG_INDICATOR':'HCPCS Drug Indicator', 'LINE_SRVC_CNT':'Number of Services', 'BENE_UNIQUE_CNT':'Number of Medicare Beneficiaries',
       'BENE_DAY_SRVC_CNT':'Number of Medicare Beneficiary/Day Services', 'AVERAGE_MEDICARE_ALLOWED_AMT':'Average Medicare Allowed Amount',
       'STDEV_MEDICARE_ALLOWED_AMT':'Standard Deviation of Medicare Allowed Amount', 'AVERAGE_SUBMITTED_CHRG_AMT':'Average Submitted Charge Amount',
       'STDEV_SUBMITTED_CHRG_AMT':'Standard Deviation of Submitted Charge Amount', 'AVERAGE_MEDICARE_PAYMENT_AMT':'Average Medicare Payment Amount',
       'STDEV_MEDICARE_PAYMENT_AMT': 'Standard Deviation of Medicare Payment Amount'],
      dtype='object')

Index(['HCPCS Code', 'HCPCS Description',
       'HCPCS Drug Indicator', 'Number of Services',
       'Number of Medicare Beneficiaries',
       'Number of Medicare Beneficiary/Day Services',
       'Average Medicare Allowed Amount',
       'Standard Deviation of Medicare Allowed Amount',
       'Average Submitted Charge Amount',
       'Standard Deviation of Submitted Charge Amount',
       'Average Medicare Payment Amount',
       'Standard Deviation of Medicare Payment Amount'],
      dtype='object')

In [77]:
my_list = ['87278', '86713', '87541', '87540', '87542']

HCPCS_rows =[]
for chunk in pd.read_csv('../data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_CY2012.csv', 
                         chunksize = 1000):
    HCPCS_rows.append(chunk[chunk['HCPCS Code'].isin(my_list)]) 
               
                
legion_testing_12 = pd.concat(HCPCS_rows, ignore_index=True)

print(legion_testing_12.shape)
legion_testing_12.head(35)

(28, 28)

,National Provider Identifier,Last Name/Organization Name,First Name,Middle Initial,Credentials,Gender,Entity Code,Street Address 1,Street Address 2,City,...,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Medicare Beneficiary/Day Services,Average Medicare Allowed Amount,Standard Deviation of Medicare Allowed Amount,Average Submitted Charge Amount,Standard Deviation of Submitted Charge Amount,Average Medicare Payment Amount,Standard Deviation of Medicare Payment Amount
0,1245307818,QUEST DIAGNOSTICS INCORPORATED MD,NaN,NaN,NaN,NaN,O,1901 SULPHUR SPRING RD,NaN,BALTIMORE,...,N,94.0,39,58,21.670000,0.000000,110.686064,3.388146,21.670000,0.000000
1,1124085576,QUEST DIAGNOSTICS INCORPORATED MI,NaN,NaN,NaN,NaN,O,4444 GIDDINGS RD,NaN,AUBURN HILLS,...,N,137.0,23,23,20.126642,1.758282,39.493139,30.159865,20.126642,1.758282
2,1518903350,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,10200 COMMERCE PKWY,NaN,MIRAMAR,...,N,83.0,12,12,17.353373,1.702915,28.229880,29.528679,17.353373,1.702915
3,1497773337,"REGIONAL MEDICAL LABORATORY, INC",NaN,NaN,NaN,NaN,O,1923 S UTICA AVE,NaN,TULSA,...,N,19.0,19,19,21.670000,0.000000,71.118421,20.636964,21.670000,0.000000
4,1134277494,"BIO-REFERENCE LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,481 EDWARD H ROSS DR,NaN,ELMWOOD PARK,...,N,101.0,33,35,21.670000,0.000000,99.696040,48.592850,21.670000,0.000000
5,1346233277,"SOLSTAS LAB PARTNERS GROUP, LLC",NaN,NaN,NaN,NaN,O,4380 FEDERAL DR,STE 100,GREENSBORO,...,N,37.0,30,33,21.670000,0.000000,470.415676,255.929615,21.670000,0.000000
6,1740262880,LABORATORY CORPORATION OF AMERICA,NaN,NaN,NaN,NaN,O,5005 S 40TH ST,STE 1200,PHOENIX,...,N,35.0,33,33,21.670000,0.000000,139.657143,23.918983,21.670000,0.000000
7,1225074065,QUEST DIAGNOSTICS CLINICAL LAB INC.,NaN,NaN,NaN,NaN,O,575 UNDERHILL BLVD,NaN,SYOSSET,...,N,22.0,22,22,21.670000,0.000000,95.082273,10.215607,21.670000,0.000000
8,1790721538,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,4770 REGENT BLVD,NaN,IRVING,...,N,15.0,12,12,21.670000,0.000000,94.618667,20.895954,21.670000,0.000000
9,1538144910,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,1447 YORK CT,NaN,BURLINGTON,...,N,202.0,190,197,21.070594,2.385103,140.611436,28.245609,20.982822,2.670579
10,1659352276,LABORATORY CORPORATION OF AMERICA,NaN,NaN,NaN,NaN,O,13112 EVENING CREEK DR S,SUITE 200,SAN DIEGO,...,N,18.0,15,15,18.870000,4.447704,104.216667,65.675000,18.870000,4.447704
11,1205872041,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,900 BUSINESS CENTER DR,NaN,HORSHAM,...,N,52.0,23,23,20.077885,2.797236,67.132115,48.498162,20.077885,2.797236
12,1194769497,"CLINICAL PATHOLOGY LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,9200 WALL ST,NaN,AUSTIN,...,N,157.0,65,79,11.580000,0.000000,83.657643,12.955134,11.580000,0.000000
13,1932145778,QUEST DIAGNOSTICS INCORPORATED,NaN,NaN,NaN,NaN,O,1 MALCOLM AVE,NaN,TETERBORO,...,N,89.0,75,79,21.670000,0.000000,99.356742,8.315388,21.670000,0.000000
14,1366479099,UNILAB CORPORATION,NaN,NaN,NaN,NaN,O,8401 FALLBROOK AVE,NaN,WEST HILLS,...,N,35.0,17,17,21.670000,0.000000,83.306286,22.012914,21.670000,0.000000
15,1538105366,"SONORA QUEST LABORATORIES, LLC.",NaN,NaN,NaN,NaN,O,1255 W WASHINGTON ST,NaN,TEMPE,...,N,149.0,103,106,21.670000,0.000000,98.058188,13.869421,21.670000,0.000000
16,1063497451,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,69 1ST AVE,NaN,RARITAN,...,N,57.0,52,53,20.253860,3.634619,137.754386,26.296051,20.253860,3.634619
17,1235234402,"ENZO CLINICAL LABS, INC.",NaN,NaN,NaN,NaN,O,60 EXECUTIVE BLVD,NaN,FARMINGDALE,...,N,78.0,25,26,21.670000,0.000000,91.000000,0.000000,20.868590,6.940416
18,1932166386,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,1777 MONTREAL CIR,NaN,TUCKER,...,N,37.0,18,19,21.670000,0.000000,103.739459,3.299056,21.670000,0.000000
19,1619913449,UNILAB CORPORATION,NaN,NaN,NaN,NaN,O,3714 NORTHGATE BLVD,NaN,SACRAMENTO,...,N,38.0,19,20,21.670000,0.000000,88.748947,19.298024,21.670000,0.000000
20,1457341851,"PHYSICIAN'S AUTOMATED LABORATORY, INC",NaN,NaN,NaN,NaN,O,2801 H ST,NaN,BAKERSFIELD,...,N,90.0,87,90,21.670000,0.000000,46.000000,0.000000,21.670000,0.000000
21,1932166386,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,1777 MONTREAL CIR,NaN,TUCKER,...,N,25.0,23,25,49.710000,0.000000,222.600000,16.656530,47.921600,8.761335
22,1750374088,"SHIEL MEDICAL LABORATORY, INC",NaN,NaN,NaN,NaN,O,63 FLUSHING AVE,UNIT 336,BROOKLYN,...,N,48.0,29,30,11.580000,0.000000,99.000000,0.000000,11.580000,0.000000
23,1932184322,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,6370 WILCOX RD,NaN,DUBLIN,...,N,20.0,19,20,21.670000,0.000000,148.000000,0.000000,21.670000,0.000000
24,1881630614,QUEST DIAGNOSTICS LLC IL,NaN,NaN,NaN,NaN,O,1355 MITTEL BLVD,NaN,WOOD DALE,...,N,54.0,25,26,21.670000,0.000000,84.558519,13.741078,21.670000,0.000000
25,1134377781,"DIATHERIX LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,601 GENOME WAY,SUITE 4208,HUNTSVILLE,...,N,1496.0,1298,1488,20.975936,2.967643,20.975936,2.967643,20.954545,3.031796
26,1891731626,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,4225 E FOWLER AVE,NaN,TAMPA,...,N,303.0,39,40,17.500759,1.631926,27.005017,27.101112,17.500759,1.631926
27,1811997711,SPECIALTY LABORATORIES INC,NaN,NaN,NaN,NaN,O,27027 TOURNEY RD,NaN,VALENCIA,...,N,89.0,46,49,23.734944,14.900258,176.952247,274.949591,23.734944,14.900258

# Clean up 2012 columns before merge.

In [125]:
legion_testing_12.columns

Index(['National Provider Identifier', 'Last Name/Organization Name',
       'First Name', 'Middle Initial', 'Credentials', 'Gender', 'Entity Code',
       'Street Address 1', 'Street Address 2', 'City', 'Zip Code',
       'State Code', 'Country Code', 'Provider Type', 'Medicare Participation',
       'Place of Service', 'HCPCS Code', 'HCPCS Description',
       'HCPCS Drug Indicator', 'Number of Services',
       'Number of Medicare Beneficiaries',
       'Number of Medicare Beneficiary/Day Services',
       'Average Medicare Allowed Amount',
       'Standard Deviation of Medicare Allowed Amount',
       'Average Submitted Charge Amount',
       'Standard Deviation of Submitted Charge Amount',
       'Average Medicare Payment Amount',
       'Standard Deviation of Medicare Payment Amount', 'year'],
      dtype='object')

In [126]:
legion_testing_16.columns

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'Zip Code of the Provider', 'State Code of the Provider',
       'Country Code of the Provider', 'Provider Type of the Provider',
       'Medicare Participation Indicator', 'Place of Service', 'HCPCS Code',
       'HCPCS Description',
       'Identifies HCPCS As Drug Included in the ASP Drug List',
       'Number of Services', 'Number of Medicare Beneficiaries',
       'Number of Distinct Medicare Beneficiary/Per Day Services',
       'Average Medicare Allowed Amount', 'Average Submitted Charge Amount',
       'Average Medicare Payment Amount',
       'Average Medicare Standardized Amount', 'year'],
      dtype='object')

In [140]:
legion_testing_12.rename(columns={'Last Name/Organization Name':'Last Name/Organization Name of the Provider',
       'First Name':'First Name of the Provider', 'Middle Initial':'Middle Initial of the Provider', 'Credentials':'Credentials of the Provider', 'Gender':'Gender of the Provider', 'Entity Code':'Entity Type of the Provider',
       'Street Address 1':'Street Address 1 of the Provider', 'Street Address 2':'Street Address 2 of the Provider', 'City':'City of the Provider', 'Zip Code':'Zip Code of the Provider',
       'State Code':'State Code of the Provider', 'Country Code':'Country Code of the Provider', 'Provider Type':'Provider Type of the Provider', 'Medicare Participation':'Medicare Participation Indicator',
       'HCPCS Drug Indicator':'Identifies HCPCS As Drug Included in the ASP Drug List', 
       'Number of Medicare Beneficiary/Day Services':'Number of Distinct Medicare Beneficiary/Per Day Services'})

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Standard Deviation of Medicare Allowed Amount,Average Submitted Charge Amount,Standard Deviation of Submitted Charge Amount,Average Medicare Payment Amount,Standard Deviation of Medicare Payment Amount,year
0,1245307818,QUEST DIAGNOSTICS INCORPORATED MD,NaN,NaN,NaN,NaN,O,1901 SULPHUR SPRING RD,NaN,BALTIMORE,...,94.0,39,58,21.670000,0.000000,110.686064,3.388146,21.670000,0.000000,2012
1,1124085576,QUEST DIAGNOSTICS INCORPORATED MI,NaN,NaN,NaN,NaN,O,4444 GIDDINGS RD,NaN,AUBURN HILLS,...,137.0,23,23,20.126642,1.758282,39.493139,30.159865,20.126642,1.758282,2012
2,1518903350,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,10200 COMMERCE PKWY,NaN,MIRAMAR,...,83.0,12,12,17.353373,1.702915,28.229880,29.528679,17.353373,1.702915,2012
3,1497773337,"REGIONAL MEDICAL LABORATORY, INC",NaN,NaN,NaN,NaN,O,1923 S UTICA AVE,NaN,TULSA,...,19.0,19,19,21.670000,0.000000,71.118421,20.636964,21.670000,0.000000,2012
4,1134277494,"BIO-REFERENCE LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,481 EDWARD H ROSS DR,NaN,ELMWOOD PARK,...,101.0,33,35,21.670000,0.000000,99.696040,48.592850,21.670000,0.000000,2012
5,1346233277,"SOLSTAS LAB PARTNERS GROUP, LLC",NaN,NaN,NaN,NaN,O,4380 FEDERAL DR,STE 100,GREENSBORO,...,37.0,30,33,21.670000,0.000000,470.415676,255.929615,21.670000,0.000000,2012
6,1740262880,LABORATORY CORPORATION OF AMERICA,NaN,NaN,NaN,NaN,O,5005 S 40TH ST,STE 1200,PHOENIX,...,35.0,33,33,21.670000,0.000000,139.657143,23.918983,21.670000,0.000000,2012
7,1225074065,QUEST DIAGNOSTICS CLINICAL LAB INC.,NaN,NaN,NaN,NaN,O,575 UNDERHILL BLVD,NaN,SYOSSET,...,22.0,22,22,21.670000,0.000000,95.082273,10.215607,21.670000,0.000000,2012
8,1790721538,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,4770 REGENT BLVD,NaN,IRVING,...,15.0,12,12,21.670000,0.000000,94.618667,20.895954,21.670000,0.000000,2012
9,1538144910,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,1447 YORK CT,NaN,BURLINGTON,...,202.0,190,197,21.070594,2.385103,140.611436,28.245609,20.982822,2.670579,2012
10,1659352276,LABORATORY CORPORATION OF AMERICA,NaN,NaN,NaN,NaN,O,13112 EVENING CREEK DR S,SUITE 200,SAN DIEGO,...,18.0,15,15,18.870000,4.447704,104.216667,65.675000,18.870000,4.447704,2012
11,1205872041,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,900 BUSINESS CENTER DR,NaN,HORSHAM,...,52.0,23,23,20.077885,2.797236,67.132115,48.498162,20.077885,2.797236,2012
12,1194769497,"CLINICAL PATHOLOGY LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,9200 WALL ST,NaN,AUSTIN,...,157.0,65,79,11.580000,0.000000,83.657643,12.955134,11.580000,0.000000,2012
13,1932145778,QUEST DIAGNOSTICS INCORPORATED,NaN,NaN,NaN,NaN,O,1 MALCOLM AVE,NaN,TETERBORO,...,89.0,75,79,21.670000,0.000000,99.356742,8.315388,21.670000,0.000000,2012
14,1366479099,UNILAB CORPORATION,NaN,NaN,NaN,NaN,O,8401 FALLBROOK AVE,NaN,WEST HILLS,...,35.0,17,17,21.670000,0.000000,83.306286,22.012914,21.670000,0.000000,2012
15,1538105366,"SONORA QUEST LABORATORIES, LLC.",NaN,NaN,NaN,NaN,O,1255 W WASHINGTON ST,NaN,TEMPE,...,149.0,103,106,21.670000,0.000000,98.058188,13.869421,21.670000,0.000000,2012
16,1063497451,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,69 1ST AVE,NaN,RARITAN,...,57.0,52,53,20.253860,3.634619,137.754386,26.296051,20.253860,3.634619,2012
17,1235234402,"ENZO CLINICAL LABS, INC.",NaN,NaN,NaN,NaN,O,60 EXECUTIVE BLVD,NaN,FARMINGDALE,...,78.0,25,26,21.670000,0.000000,91.000000,0.000000,20.868590,6.940416,2012
18,1932166386,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,1777 MONTREAL CIR,NaN,TUCKER,...,37.0,18,19,21.670000,0.000000,103.739459,3.299056,21.670000,0.000000,2012
19,1619913449,UNILAB CORPORATION,NaN,NaN,NaN,NaN,O,3714 NORTHGATE BLVD,NaN,SACRAMENTO,...,38.0,19,20,21.670000,0.000000,88.748947,19.298024,21.670000,0.000000,2012
20,1457341851,"PHYSICIAN'S AUTOMATED LABORATORY, INC",NaN,NaN,NaN,NaN,O,2801 H ST,NaN,BAKERSFIELD,...,90.0,87,90,21.670000,0.000000,46.000000,0.000000,21.670000,0.000000,2012
21,1932166386,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,1777 MONTREAL CIR,NaN,TUCKER,...,25.0,23,25,49.710000,0.000000,222.600000,16.656530,47.921600,8.761335,2012
22,1750374088,"SHIEL MEDICAL LABORATORY, INC",NaN,NaN,NaN,NaN,O,63 FLUSHING AVE,UNIT 336,BROOKLYN,...,48.0,29,30,11.580000,0.000000,99.000000,0.000000,11.580000,0.000000,2012
23,1932184322,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,6370 WILCOX RD,NaN,DUBLIN,...,20.0,19,20,21.670000,0.000000,148.000000,0.000000,21.670000,0.000000,2012
24,1881630614,QUEST DIAGNOSTICS LLC IL,NaN,NaN,NaN,NaN,O,1355 MITTEL BLVD,NaN,WOOD DALE,...,54.0,25,26,21.670000,0.000000,84.558519,13.741078,21.670000,0.000000,2012
25,1134377781,"DIATHERIX LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,601 GENOME WAY,SUITE 4208,HUNTSVILLE,...,1496.0,1298,1488,20.975936,2.967643,20.975936,2.967643,20.954545,3.031796,2012
26,1891731626,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,NaN,NaN,NaN,NaN,O,4225 E FOWLER AVE,NaN,TAMPA,...,303.0,39,40,17.500759,1.631926,27.005017,27.101112,17.500759,1.631926,2012
27,1811997711,SPECIALTY LABORATORIES INC,NaN,NaN,NaN,NaN,O,27027 TOURNEY RD,NaN,VALENCIA,...,89.0,46,49,23.734944,14.900258,176.952247,274.949591,23.734944,14.900258,2012

In [141]:
legion_testing_12['year'] = '2012'
legion_testing_12.head(1)

,National Provider Identifier,Last Name/Organization Name,First Name,Middle Initial,Credentials,Gender,Entity Code,Street Address 1,Street Address 2,City,...,Number of Services,Number of Medicare Beneficiaries,Number of Medicare Beneficiary/Day Services,Average Medicare Allowed Amount,Standard Deviation of Medicare Allowed Amount,Average Submitted Charge Amount,Standard Deviation of Submitted Charge Amount,Average Medicare Payment Amount,Standard Deviation of Medicare Payment Amount,year
0,1245307818,QUEST DIAGNOSTICS INCORPORATED MD,NaN,NaN,NaN,NaN,O,1901 SULPHUR SPRING RD,NaN,BALTIMORE,...,94.0,39,58,21.67,0.0,110.686064,3.388146,21.67,0.0,2012

# Join all the dataframes and drop columns

In [142]:
medicare_data = pd.concat([legion_testing_17, legion_testing_16, legion_testing_15, legion_testing_14, legion_testing_13, legion_testing_12])

medicare_data.shape
medicare_data.head()

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,Street Address 2,City,Zip Code,State Code,Country Code,Medicare Participation,Number of Medicare Beneficiary/Day Services,Standard Deviation of Medicare Allowed Amount,Standard Deviation of Submitted Charge Amount,Standard Deviation of Medicare Payment Amount
0,1.053721e+09,"TAUSTIN LABORATORIES, LLC",NaN,NaN,NaN,NaN,O,2868 ACTON RD,SUITE 207,VESTAVIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.063497e+09,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,NaN,NaN,O,69 1ST AVE,NaN,RARITAN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.124442e+09,"TOTAL DIAGNOSTIX II, LLC",NaN,NaN,NaN,NaN,O,3740 BUSINESS DR STE 101,NaN,MEMPHIS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.134277e+09,"BIO-REFERENCE LABORATORIES, INC.",NaN,NaN,NaN,NaN,O,481 EDWARD H ROSS DR,NaN,ELMWOOD PARK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.134378e+09,DIATHERIX LABORATORIES LLC,NaN,NaN,NaN,NaN,O,601 GENOME WAY,SUITE 2100,HUNTSVILLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
medicare_data.columns

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'Zip Code of the Provider', 'State Code of the Provider',
       'Country Code of the Provider', 'Provider Type',
       'Medicare Participation Indicator', 'Place of Service', 'HCPCS Code',
       'HCPCS Description', 'HCPCS Drug Indicator', 'Number of Services',
       'Number of Medicare Beneficiaries',
       'Number of Distinct Medicare Beneficiary/Per Day Services',
       'Average Medicare Allowed Amount', 'Average Submitted Charge Amount',
       'Average Medicare Payment Amount',
       'Average Medicare Standardized Amount', 'year',
       'Provider Type of the Provider',
       'Identifies HCPCS As Drug Included in the ASP Drug List',
       'National Provider Identifier ', 'Last Name/Organization Name',
       'First Name', 'Middle Initial', 'Credentials', 'Gender', 'Entity Code',
       'Street Address 1', 'Street Address 2', 'City', 'Zip Code',
       'State Code', 'Country Code', 'Medicare Participation',
       'Number of Medicare Beneficiary/Day Services',
       'Standard Deviation of Medicare Allowed Amount',
       'Standard Deviation of Submitted Charge Amount',
       'Standard Deviation of Medicare Payment Amount'],
      dtype='object')

In [143]:
medicare_data = medicare_data.drop(columns=['First Name of the Provider', 'Middle Initial of the Provider',
       'Street Address 2 of the Provider', 
       'Country Code of the Provider', 
       'Medicare Participation Indicator', 
       'Identifies HCPCS As Drug Included in the ASP Drug List',
       'First Name', 'Middle Initial', 'Credentials', 'Gender', 
       'Street Address 2', 'Country Code', 'Medicare Participation',
       'Standard Deviation of Medicare Allowed Amount',
       'Standard Deviation of Submitted Charge Amount'])
                   
medicare_data.head()

,National Provider Identifier,Last Name/Organization Name of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,City of the Provider,Zip Code of the Provider,State Code of the Provider,Provider Type,...,Provider Type of the Provider,National Provider Identifier,Last Name/Organization Name,Entity Code,Street Address 1,City,Zip Code,State Code,Number of Medicare Beneficiary/Day Services,Standard Deviation of Medicare Payment Amount
0,1.053721e+09,"TAUSTIN LABORATORIES, LLC",NaN,NaN,O,2868 ACTON RD,VESTAVIA,352432502,AL,Clinical Laboratory,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.063497e+09,LABORATORY CORPORATION OF AMERICA HOLDINGS,NaN,NaN,O,69 1ST AVE,RARITAN,88691800,NJ,Clinical Laboratory,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.124442e+09,"TOTAL DIAGNOSTIX II, LLC",NaN,NaN,O,3740 BUSINESS DR STE 101,MEMPHIS,381253971,TN,Clinical Laboratory,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.134277e+09,"BIO-REFERENCE LABORATORIES, INC.",NaN,NaN,O,481 EDWARD H ROSS DR,ELMWOOD PARK,74073118,NJ,Clinical Laboratory,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.134378e+09,DIATHERIX LABORATORIES LLC,NaN,NaN,O,601 GENOME WAY,HUNTSVILLE,358062910,AL,Clinical Laboratory,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
medicare_data = medicare_data.drop(columns=['Credentials of the Provider', 'Gender of the Provider', 'Standard Deviation of Medicare Payment Amount'])
medicare_data.head()

KeyError: "['Credentials of the Provider' 'Gender of the Provider'\n 'Standard Deviation of Medicare Payment Amount'] not found in axis"

In [144]:
medicare_data.tail(40)

,National Provider Identifier,Last Name/Organization Name of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,City of the Provider,Zip Code of the Provider,State Code of the Provider,Provider Type,...,Provider Type of the Provider,National Provider Identifier,Last Name/Organization Name,Entity Code,Street Address 1,City,Zip Code,State Code,Number of Medicare Beneficiary/Day Services,Standard Deviation of Medicare Payment Amount
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,1.134378e+09,"DIATHERIX LABORATORIES, INC.",O,601 GENOME WAY,HUNTSVILLE,358062908,AL,1907.0,0.943367
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,1.366544e+09,NORTH SHORE LIJ HEALTH SYSTEMS LABORATORIES,O,10 NEVADA DR,NEW HYDE PARK,110421114,NY,52.0,0.095846
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,1.366479e+09,UNILAB CORPORATION,O,8401 FALLBROOK AVE,WEST HILLS,913043226,CA,13.0,0.250254
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,1.740263e+09,LABORATORY CORPORATION OF AMERICA,O,5005 S 40TH ST,PHOENIX,850402969,AZ,66.0,0.231202
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,1.750374e+09,"SHIEL MEDICAL LABORATORY, INC",O,63 FLUSHING AVE,BROOKLYN,112051005,NY,26.0,0.130665
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,1.457342e+09,"PHYSICIAN'S AUTOMATED LABORATORY, INC",O,2801 H ST,BAKERSFIELD,933011913,CA,87.0,1.911993
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,1.932166e+09,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,O,1777 MONTREAL CIR,TUCKER,300846802,GA,14.0,0.293939
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,1.124086e+09,QUEST DIAGNOSTICS INCORPORATED MI,O,4444 GIDDINGS RD,AUBURN HILLS,483261533,MI,26.0,1.300508
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,1.538105e+09,"SONORA QUEST LABORATORIES, LLC.",O,1255 W WASHINGTON ST,TEMPE,852811210,AZ,86.0,2.983109
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,1.538145e+09,LABORATORY CORPORATION OF AMERICA HOLDINGS,O,1447 YORK CT,BURLINGTON,272153361,NC,252.0,3.435926
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,1.811998e+09,SPECIALTY LABORATORIES INC,O,27027 TOURNEY RD,VALENCIA,913555386,CA,29.0,0.296278
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,1.891732e+09,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,O,4225 E FOWLER AVE,TAMPA,336172026,FL,30.0,1.132761
0,1.245308e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,QUEST DIAGNOSTICS INCORPORATED MD,O,1901 SULPHUR SPRING RD,BALTIMORE,212272943,MD,58.0,0.000000
1,1.124086e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,QUEST DIAGNOSTICS INCORPORATED MI,O,4444 GIDDINGS RD,AUBURN HILLS,483261533,MI,23.0,1.758282
2,1.518903e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,O,10200 COMMERCE PKWY,MIRAMAR,330253938,FL,12.0,1.702915
3,1.497773e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,"REGIONAL MEDICAL LABORATORY, INC",O,1923 S UTICA AVE,TULSA,741046520,OK,19.0,0.000000
4,1.134277e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,"BIO-REFERENCE LABORATORIES, INC.",O,481 EDWARD H ROSS DR,ELMWOOD PARK,74073118,NJ,35.0,0.000000
5,1.346233e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,"SOLSTAS LAB PARTNERS GROUP, LLC",O,4380 FEDERAL DR,GREENSBORO,274108148,NC,33.0,0.000000
6,1.740263e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,LABORATORY CORPORATION OF AMERICA,O,5005 S 40TH ST,PHOENIX,850402969,AZ,33.0,0.000000
7,1.225074e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,QUEST DIAGNOSTICS CLINICAL LAB INC.,O,575 UNDERHILL BLVD,SYOSSET,117913426,NY,22.0,0.000000
8,1.790722e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,O,4770 REGENT BLVD,IRVING,750632445,TX,12.0,0.000000
9,1.538145e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,LABORATORY CORPORATION OF AMERICA HOLDINGS,O,1447 YORK CT,BURLINGTON,272153361,NC,197.0,2.670579
10,1.659352e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,LABORATORY CORPORATION OF AMERICA,O,13112 EVENING CREEK DR S,SAN DIEGO,921284108,CA,15.0,4.447704
11,1.205872e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,O,900 BUSINESS CENTER DR,HORSHAM,190443408,PA,23.0,2.797236
12,1.194769e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,"CLINICAL PATHOLOGY LABORATORIES, INC.",O,9200 WALL ST,AUSTIN,787544534,TX,79.0,0.000000
13,1.932146e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,QUEST DIAGNOSTICS INCORPORATED,O,1 MALCOLM AVE,TETERBORO,076081011,NJ,79.0,0.000000
14,1.366479e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,UNILAB CORPORATION,O,8401 FALLBROOK AVE,WEST HILLS,913043226,CA,17.0,0.000000
15,1.538105e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,"SONORA QUEST LABORATORIES, LLC.",O,1255 W WASHINGTON ST,TEMPE,852811210,AZ,106.0,0.000000
16,1.063497e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,LABORATORY CORPORATION OF AMERICA HOLDINGS,O,69 1ST AVE,RARITAN,88691800,NJ,53.0,3.634619
17,1.235234e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,"ENZO CLINICAL LABS, INC.",O,60 EXECUTIVE BLVD,FARMINGDALE,117354710,NY,26.0,6.940416
18,1.932166e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,O,1777 MONTREAL CIR,TUCKER,300846802,GA,19.0,0.000000
19,1.619913e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,UNILAB CORPORATION,O,3714 NORTHGATE BLVD,SACRAMENTO,958341617,CA,20.0,0.000000
20,1.457342e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,"PHYSICIAN'S AUTOMATED LABORATORY, INC",O,2801 H ST,BAKERSFIELD,933011913,CA,90.0,0.000000
21,1.932166e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,O,1777 MONTREAL CIR,TUCKER,300846802,GA,25.0,8.761335
22,1.750374e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,"SHIEL MEDICAL LABORATORY, INC",O,63 FLUSHING AVE,BROOKLYN,112051005,NY,30.0,0.000000
23,1.932184e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,LABORATORY CORPORATION OF AMERICA HOLDINGS,O,6370 WILCOX RD,DUBLIN,430161269,OH,20.0,0.000000
24,1.881631e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,QUEST DIAGNOSTICS LLC IL,O,1355 MITTEL BLVD,WOOD DALE,601911024,IL,26.0,0.000000
25,1.134378e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,"DIATHERIX LABORATORIES, INC.",O,601 GENOME WAY,HUNTSVILLE,358062908,AL,1488.0,3.031796
26,1.891732e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,QUEST DIAGNOSTICS CLINICAL LABORATORIES INC,O,4225 E FOWLER AVE,TAMPA,336172026,FL,40.0,1.631926
27,1.811998e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Clinical Laboratory,...,NaN,NaN,SPECIALTY LABORATORIES INC,O,27027 TOURNEY RD,VALENCIA,913555386,CA,49.0,14.900258

# Population data

In [167]:
state_pop = pd.read_excel("../data/state_pop_data.xlsx")
state_pop.head(10)

,States,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Alabama,4785437.0,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
1,Alaska,713910.0,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
2,Arizona,6407172.0,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
3,Arkansas,2921964.0,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
4,California,37319502.0,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0
5,Colorado,5047349.0,5121108.0,5192647.0,5269035.0,5350101.0,5450623.0,5539215.0,5611885.0,5691287.0,5758736.0
6,Connecticut,3579114.0,3588283.0,3594547.0,3594841.0,3594524.0,3587122.0,3578141.0,3573297.0,3571520.0,3565287.0
7,Delaware,899593.0,907381.0,915179.0,923576.0,932487.0,941252.0,948921.0,956823.0,965479.0,973764.0
8,District of Columbia,605226.0,619800.0,634924.0,650581.0,662328.0,675400.0,685815.0,694906.0,701547.0,705749.0
9,Florida,18845537.0,19053237.0,19297822.0,19545621.0,19845911.0,20209042.0,20613477.0,20963613.0,21244317.0,21477737.0

In [5]:
legion_table = pd.read_csv('../data/NNDSS_-_table_II._Invasive_Pneumococcal_to_Legionellosis.csv')
legion_table.head()

,Reporting Area,MMWR Year,MMWR Week,"Invasive Pneumococcal disease, All ages, Current week","Invasive Pneumococcal disease, All ages, Current week, flag","Invasive Pneumococcal disease, All ages, Previous 52 weeks Med","Invasive Pneumococcal disease, All ages, Previous 52 weeks Med, flag","Invasive Pneumococcal disease, All ages, Previous 52 weeks Max","Invasive Pneumococcal disease, All ages, Previous 52 weeks Max, flag","Invasive Pneumococcal disease, All ages, Cum 2014",...,"Legionellosis, Previous 52 weeks Med","Legionellosis, Previous 52 weeks Med, flag","Legionellosis, Previous 52 weeks Max","Legionellosis, Previous 52 weeks Max, flag","Legionellosis, Cum 2014","Legionellosis, Cum 2014, flag","Legionellosis, Cum 2013","Legionellosis, Cum 2013, flag",Location 1,Location 2
0,UNITED STATES,2014,1,169.0,NaN,266.0,NaN,606.0,NaN,169.0,...,58.0,NaN,258.0,NaN,16.0,NaN,56.0,NaN,NaN,NaN
1,NEW ENGLAND,2014,1,4.0,NaN,11.0,NaN,33.0,NaN,4.0,...,5.0,NaN,25.0,NaN,1.0,NaN,5.0,NaN,NaN,NaN
2,MID. ATLANTIC,2014,1,11.0,NaN,39.0,NaN,85.0,NaN,11.0,...,16.0,NaN,122.0,NaN,3.0,NaN,4.0,NaN,NaN,NaN
3,E.N. CENTRAL,2014,1,26.0,NaN,51.0,NaN,132.0,NaN,26.0,...,16.0,NaN,102.0,NaN,2.0,NaN,9.0,NaN,NaN,NaN
4,W.N. CENTRAL,2014,1,6.0,NaN,14.0,NaN,50.0,NaN,6.0,...,2.0,NaN,13.0,NaN,3.0,NaN,2.0,NaN,NaN,NaN